# Imports

In [16]:
import datetime
import json
import os
from collections import defaultdict
import pickle
from tqdm import tqdm

# from functools import partial
# from itertools import chain, islice
# from multiprocessing import Pool, cpu_count
from pathlib import Path

# from pprint import pprint

import dateutil.parser
import findspark
import lmdb
import numpy as np
import psycopg
import pyspark.sql.functions as sf
from ase.atoms import Atoms
from ase.io.cfg import read_cfg
from dotenv import load_dotenv
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    ArrayType,
    BooleanType,
    DoubleType,
    FloatType,
    IntegerType,
    LongType,
    StringType,
    StructField,
    StructType,
    TimestampType,
)

from colabfit.tools.configuration import AtomicConfiguration, config_schema
from colabfit.tools.database import DataManager, PGDataLoader
from colabfit.tools.dataset import Dataset, dataset_schema
from colabfit.tools.property import Property, property_object_schema
from colabfit.tools.property_definitions import (
    atomic_forces_pd,
    cauchy_stress_pd,
    potential_energy_pd,
)
from colabfit.tools.schema import configuration_set_schema
import pyarrow as pa

with open("formation_energy.json", "r") as f:
    formation_energy_pd = json.load(f)
findspark.init()
format = "jdbc"
load_dotenv("./.env")

True

# Set up MTPU and Carolina Materials readers and data

In [17]:
# MTPU data


def convert_stress(keys, stress):
    stresses = {k: s for k, s in zip(keys, stress)}
    return [
        [stresses["xx"], stresses["xy"], stresses["xz"]],
        [stresses["xy"], stresses["yy"], stresses["yz"]],
        [stresses["xz"], stresses["yz"], stresses["zz"]],
    ]


SYMBOL_DICT = {"0": "Si", "1": "O"}


def mtpu_reader(filepath):
    with open(filepath, "rt") as f:
        energy = None
        forces = None
        coords = []
        cell = []
        symbols = []
        config_count = 0
        info = dict()
        for line in f:
            if line.strip().startswith("Size"):
                size = int(f.readline().strip())
            elif line.strip().lower().startswith("supercell"):
                cell.append([float(x) for x in f.readline().strip().split()])
                cell.append([float(x) for x in f.readline().strip().split()])
                cell.append([float(x) for x in f.readline().strip().split()])
            elif line.strip().startswith("Energy"):
                energy = float(f.readline().strip())
            elif line.strip().startswith("PlusStress"):
                stress_keys = line.strip().split()[-6:]
                stress = [float(x) for x in f.readline().strip().split()]
                stress = convert_stress(stress_keys, stress)
            elif line.strip().startswith("AtomData:"):
                keys = line.strip().split()[1:]
                if "fx" in keys:
                    forces = []
                for i in range(size):
                    li = {
                        key: val for key, val in zip(keys, f.readline().strip().split())
                    }
                    symbols.append(SYMBOL_DICT[li["type"]])
                    if "cartes_x" in keys:
                        coords.append(
                            [
                                float(c)
                                for c in [
                                    li["cartes_x"],
                                    li["cartes_y"],
                                    li["cartes_z"],
                                ]
                            ]
                        )
                    elif "direct_x" in keys:
                        coords.append(
                            [
                                float(c)
                                for c in [
                                    li["direct_x"],
                                    li["direct_y"],
                                    li["direct_z"],
                                ]
                            ]
                        )

                    if "fx" in keys:
                        forces.append(
                            [float(f) for f in [li["fx"], li["fy"], li["fz"]]]
                        )

            elif line.startswith("END_CFG"):

                info["energy"] = energy
                if forces:
                    info["forces"] = forces
                info["stress"] = stress

                if "Si" in symbols and "O" in symbols:
                    info["input"] = {
                        "kpoint-scheme": "Monkhorst-Pack",
                        "kpoints": "11x11x11",
                        "kinetic-energy-cutoff": {
                            "val": 1224,
                            "units": "eV",
                        },
                    }
                    info["_name"] = f"{filepath.stem}_SiO2_{config_count}"
                elif "Si" in symbols:
                    info["input"] = {
                        "kpoint-scheme": "Monkhorst-Pack",
                        "kpoints": "8x8x8",
                        "kinetic-energy-cutoff": {
                            "val": 884,
                            "units": "eV",
                        },
                    }
                    info["_name"] = f"{filepath.stem}_Si_{config_count}"
                elif "O" in symbols:
                    info["input"] = {
                        "kpoint-scheme": "Monkhorst-Pack",
                        "kpoints": "gamma-point",
                        "kinetic-energy-cutoff": {
                            "val": 1224,
                            "units": "eV",
                        },
                    }
                    info["_name"] = f"{filepath.stem}_O_{config_count}"
                if "cartes_x" in keys:
                    config = AtomicConfiguration(
                        positions=coords, symbols=symbols, cell=cell, info=info
                    )
                elif "direct_x" in keys:
                    config = AtomicConfiguration(
                        scaled_positions=coords, symbols=symbols, cell=cell, info=info
                    )
                config_count += 1
                yield config
                forces = None
                stress = []
                coords = []
                cell = []
                symbols = []
                energy = None

In [18]:
mtpu_configs = mtpu_reader(Path("data/mtpu_2023/Unified_training_set.cfg"))
data = list(mtpu_configs)
# data = [x for x in mtpu_configs]
# data[0].configuration_summary()

In [19]:
import colabfit.tools.configuration
from importlib import reload

reload(colabfit.tools.configuration)
AtomicConfiguration = colabfit.tools.configuration.AtomicConfiguration

In [20]:
print(data[0])

AtomicConfiguration(name=Unified_training_set_SiO2_1061, symbols='Si4', pbc=False, cell=[[3.85085, 0.0, 0.077017], [-1.925425, 3.334933, -0.038508], [0.127258, 0.0, 6.362934]])

In [21]:
loader.spark.serialize()

NameError: name 'loader' is not defined

In [ ]:
data[0].spark_row

{'id': 'CO_47706510123393079',
 'hash': 47706510123393079,
 'last_modified': datetime.datetime(2024, 5, 20, 17, 14, 38),
 'dataset_ids': None,
 'metadata': None,
 'chemical_formula_hill': 'Si4',
 'chemical_formula_reduced': 'Si',
 'chemical_formula_anonymous': 'A',
 'elements': "['Si']",
 'elements_ratios': '[1.0]',
 'atomic_numbers': '[14, 14, 14, 14]',
 'nsites': 4,
 'nelements': 1,
 'nperiodic_dimensions': 0,
 'cell': '[[3.85085, 0.0, 0.077017], [-1.925425, 3.334933, -0.038508], [0.127258, 0.0, 6.362934]]',
 'dimension_types': '[0, 0, 0]',
 'pbc': '[False, False, False]',
 'positions': '[[1.892001, 1.11132, 0.400465], [1.955509, -1.11132, 3.581973], [1.895339, -1.11132, -0.400508], [1.958847, 1.11132, 2.781]]',
 'names': "['Unified_training_set_Si_0']",
 'labels': None,
 'configuration_set_ids': None}

In [ ]:
# Carolina Materials data

SOFTWARE = "VASP"
METHODS = "DFT-PBE"
CM_PI_METADATA = {
    "software": {"value": SOFTWARE},
    "method": {"value": METHODS},
    "input": {"value": {"IBRION": 6, "NFREE": 4}},
}

CM_PROPERTY_MAP = {
    "formation-energy": [
        {
            "energy": {"field": "energy", "units": "eV"},
            "per-atom": {"value": False, "units": None},
        }
    ],
    "_metadata": CM_PI_METADATA,
}
CO_MD = {
    key: {"field": key}
    for key in [
        "_symmetry_space_group_name_H-M",
        "_symmetry_Int_Tables_number",
        "_chemical_formula_structural",
        "_chemical_formula_sum",
        "_cell_volume",
        "_cell_formula_units_Z",
        "symmetry_dict",
        "formula_pretty",
    ]
}


def load_row(txn, row):
    try:
        data = pickle.loads(txn.get(f"{row}".encode("ascii")))
        return data
    except TypeError:
        return False


def config_from_row(row: dict, row_num: int):
    coords = row.pop("cart_coords")
    a_num = row.pop("atomic_numbers")
    cell = [
        row.pop(x)
        for x in [
            "_cell_length_a",
            "_cell_length_b",
            "_cell_length_c",
            "_cell_angle_alpha",
            "_cell_angle_beta",
            "_cell_angle_gamma",
        ]
    ]
    symmetry_dict = {str(key): val for key, val in row.pop("symmetry_dict").items()}
    for key in symmetry_dict:
        key = str(key)
    info = {}
    info = row
    info["symmetry_dict"] = symmetry_dict
    info["_name"] = f"carolina_materials_{row_num}"
    if row_num % 10 == 0:
        info["_labels"] = [row_num % 10, "bcc"]
    else:
        info["_labels"] = [row_num % 10, "fcc"]
    config = AtomicConfiguration(
        scaled_positions=coords,
        numbers=a_num,
        cell=cell,
        info=info,
    )
    return config
    # return AtomicConfiguration.from_ase(config)


def carmat_reader(fp: Path):
    parent = fp.parent
    env = lmdb.open(str(parent))
    txn = env.begin()
    row_num = 0
    rows = []
    while row_num <= 10000:
        row = load_row(txn, row_num)
        if row is False:
            env.close()
            break
        rows.append(row)
        yield config_from_row(row, row_num)
        row_num += 1
    env.close()
    return False
    # return rows

In [ ]:
PI_METADATA = {
    "software": {"value": "Quantum ESPRESSO"},
    "method": {"value": "DFT-PBE"},
    "input": {"field": "input"},
}
PROPERTY_MAP = {
    "potential-energy": [
        {
            "energy": {"field": "energy", "units": "eV"},
            "per-atom": {"value": False, "units": None},
            # "_metadata": PI_METADATA,
        }
    ],
    "atomic-forces": [
        {
            "forces": {"field": "forces", "units": "eV/angstrom"},
            # "_metadata": PI_METADATA,
        },
    ],
    "cauchy-stress": [
        {
            "stress": {"field": "stress", "units": "GPa"},
            "volume-normalized": {"value": True, "units": None},
        }
    ],
    "_metadata": PI_METADATA,
}

# Connect to DB and run loader

In [23]:
JARFILE = os.environ.get("CLASSPATH")
spark = (
    SparkSession.builder.appName("PostgreSQL Connection with PySpark")
    .config("spark.jars", JARFILE)
    .getOrCreate()
)
url = "jdbc:postgresql://localhost:5432/colabfit"
user = os.environ.get("PGS_USER")
password = os.environ.get("PGS_PASS")
properties = {
    "user": user,
    "password": password,
    "driver": "org.postgresql.Driver",
}
loader = PGDataLoader(appname="colabfit", env="./.env")

24/05/21 14:49:53 WARN Utils: Your hostname, arktos resolves to a loopback address: 127.0.1.1; using 172.24.21.25 instead (on interface enp5s0)
24/05/21 14:49:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/05/21 14:49:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/21 14:49:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:
mtpu_configs = mtpu_reader(Path("data/mtpu_2023/Unified_training_set.cfg"))

PI_METADATA = {
    "software": {"value": "Quantum ESPRESSO"},
    "method": {"value": "DFT-PBE"},
    "input": {"field": "input"},
}
PROPERTY_MAP = {
    "potential-energy": [
        {
            "energy": {"field": "energy", "units": "eV"},
            "per-atom": {"value": False, "units": None},
            # "_metadata": PI_METADATA,
        }
    ],
    "atomic-forces": [
        {
            "forces": {"field": "forces", "units": "eV/angstrom"},
            # "_metadata": PI_METADATA,
        },
    ],
    "cauchy-stress": [
        {
            "stress": {"field": "stress", "units": "GPa"},
            "volume-normalized": {"value": True, "units": None},
        }
    ],
    "_metadata": PI_METADATA,
}
spark = SparkSession.builder.appName("ColabfitIngestData").getOrCreate()
spark.sparkContext.setLogLevel("WARN")
# loader = SparkDataLoader(table_prefix="ndb.colabfit.dev")
# print(loader.spark)
mtpu_ds_id = "DS_y7nrdsjtuwom_0"
mtpu_configs = list(mtpu_configs)
print(mtpu_configs[0])
co_po_rows = []
for config in tqdm(mtpu_configs):
    config.set_dataset_id(mtpu_ds_id)
    co_po_rows.append(
        (
            config.spark_row,
            Property.from_definition(
                [potential_energy_pd, atomic_forces_pd, cauchy_stress_pd],
                configuration=config,
                property_map=PROPERTY_MAP,
            ).spark_row,
        )
    )

24/05/20 17:14:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

AtomicConfiguration(name=Unified_training_set_SiO2_1061, symbols='Si4', pbc=False, cell=[[3.85085, 0.0, 0.077017], [-1.925425, 3.334933, -0.038508], [0.127258, 0.0, 6.362934]])

100%|██████████| 1062/1062 [00:00<00:00, 2495.36it/s]

In [ ]:
co_po_rows[0][0]

{'id': 'CO_47706510123393079',
 'hash': 47706510123393079,
 'last_modified': datetime.datetime(2024, 5, 20, 17, 14, 41),
 'dataset_ids': "['DS_y7nrdsjtuwom_0']",
 'metadata': None,
 'chemical_formula_hill': 'Si4',
 'chemical_formula_reduced': 'Si',
 'chemical_formula_anonymous': 'A',
 'elements': "['Si']",
 'elements_ratios': '[1.0]',
 'atomic_numbers': '[14, 14, 14, 14]',
 'nsites': 4,
 'nelements': 1,
 'nperiodic_dimensions': 0,
 'cell': '[[3.85085, 0.0, 0.077017], [-1.925425, 3.334933, -0.038508], [0.127258, 0.0, 6.362934]]',
 'dimension_types': '[0, 0, 0]',
 'pbc': '[False, False, False]',
 'positions': '[[1.892001, 1.11132, 0.400465], [1.955509, -1.11132, 3.581973], [1.895339, -1.11132, -0.400508], [1.958847, 1.11132, 2.781]]',
 'names': "['Unified_training_set_Si_0']",
 'labels': None,
 'configuration_set_ids': None}

In [ ]:
import datetime

In [ ]:
dateutil.parser.parse(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

datetime.datetime(2024, 5, 20, 17, 10, 24)

In [ ]:
try:
    print("making co po rows")
    co_rows, po_rows = list(zip(*co_po_rows))
    print("making cos dataframes...")
    cos_dataframe = spark.createDataFrame(co_rows, schema=config_schema)
    print("Done!")
    print(cos_dataframe.show(1, False))
    print("making pos dataframes...")
    pos_dataframe = spark.createDataFrame(po_rows, schema=property_object_schema)
    print("Done!")
    pos_dataframe.show(1, False)
    try:
        # loader.write_table(
        #     co_rows,
        #     loader.config_table,
        #     config_schema,
        # )
        # loader.write_table(
        #     po_rows,
        #     loader.prop_object_table,
        #     property_object_schema,
        # )
        print(loader.config_table)
        cos_dataframe.write.mode("append").saveAsTable(loader.config_table)
        print(loader.prop_object_table)
        pos_dataframe.write.mode("append").saveAsTable(loader.prop_object_table)
    except:
        print("loader write failed")
except:
    print("error getting df")

making co po rows
making cos dataframes...
Done!

+--------------------+-----------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+--------+---------------+----------------+------+---------+--------------------+---------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------+-----------------------------+------+---------------------+
|id                  |hash             |last_modified      |dataset_ids          |metadata|chemical_formula_hill|chemical_formula_reduced|chemical_formula_anonymous|elements|elements_ratios|atomic_numbers  |nsites|nelements|nperiodic_dimensions|cell                                                                                   |dimension_types|pbc                  |positions                                                                                                                   |names                        |labels|configuration_set_ids|
+--------------------+-----------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+--------+---------------+----------------+------+---------+--------------------+---------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------+-----------------------------+------+---------------------+
|CO_47706510123393079|47706510123393079|2024-05-20 14:50:48|['DS_y7nrdsjtuwom_0']|NULL    |Si4                  |Si                      |A                         |['Si']  |[1.0]          |[14, 14, 14, 14]|4     |1        |0                   |[[3.85085, 0.0, 0.077017], [-1.925425, 3.334933, -0.038508], [0.127258, 0.0, 6.362934]]|[0, 0, 0]      |[False, False, False]|[[1.892001, 1.11132, 0.400465], [1.955509, -1.11132, 3.581973], [1.895339, -1.11132, -0.400508], [1.958847, 1.11132, 2.781]]|['Unified_training_set_Si_0']|NULL  |NULL                 |
+--------------------+-----------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+--------+---------------+----------------+------+---------+--------------------+---------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------+-----------------------------+------+---------------------+
only showing top 1 row

None
making pos dataframes...
Done!

24/05/20 14:52:03 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------------------+-------------------+-------------------+------------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------------------+----------------+-------+---------------------+------------------+---------------------+-------------------------+--------------------------+-------------------------------+-------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+----------------------------------------------------------------+---------------------------------------------------------------------------------------------------+------------------+-------------------------------+----------------------------------------------------------------+-----------+----------------+--------------------+---------------------+--------------------------+-----------------------+--------+-------------+--------------------+----------------+---------------------+-------------------------+--------------------------+-------------------------------+----------------------------+-----------------+----------------------+--------------------------+---------------------------+--------------------------------+-----------------------------+------------------+-----------------------+---------------------------+----------------------------+---------------------------------+------------------------------+
|id                    |hash               |last_modified      |configuration_ids       |dataset_ids          |metadata                                                                                                                                      |software        |method |chemical_formula_hill|potential_energy  |potential_energy_unit|potential_energy_per_atom|potential_energy_reference|potential_energy_reference_unit|potential_energy_property_id                                       |atomic_forces                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |atomic_forces_unit|atomic_forces_property_id                                       |cauchy_stress                                                                                      |cauchy_stress_unit|cauchy_stress_volume_normalized|cauchy_stress_property_id                                       |free_energy|free_energy_unit|free_energy_per_atom|free_energy_reference|free_energy_reference_unit|free_energy_property_id|band_gap|band_gap_unit|band_gap_property_id|formation_energy|formation_energy_unit|formation_energy_per_atom|formation_energy_reference|formation_energy_reference_unit|formation_energy_property_id|adsorption_energy|adsorption_energy_unit|adsorption_energy_per_atom|adsorption_energy_reference|adsorption_energy_reference_unit|adsorption_energy_property_id|atomization_energy|atomization_energy_unit|atomization_energy_per_atom|atomization_energy_reference|atomization_energy_reference_unit|atomization_energy_property_id|
+----------------------+-------------------+-------------------+------------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------------------+----------------+-------+---------------------+------------------+---------------------+-------------------------+--------------------------+-------------------------------+-------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+----------------------------------------------------------------+---------------------------------------------------------------------------------------------------+------------------+-------------------------------+----------------------------------------------------------------+-----------+----------------+--------------------+---------------------+--------------------------+-----------------------+--------+-------------+--------------------+----------------+---------------------+-------------------------+--------------------------+-------------------------------+----------------------------+-----------------+----------------------+--------------------------+---------------------------+--------------------------------+-----------------------------+------------------+-----------------------+---------------------------+----------------------------+---------------------------------+------------------------------+
|PO_2003168523045662242|2003168523045662242|2024-05-20 14:50:49|['CO_47706510123393079']|['DS_y7nrdsjtuwom_0']|{"input": {"source-value": {"kpoint-scheme": "Monkhorst-Pack", "kpoints": "11x11x11", "kinetic-energy-cutoff": {"val": 1224, "units": "eV"}}}}|Quantum ESPRESSO|DFT-PBE|Si4                  |-56728.65951244888|eV                   |false                    |NULL                      |NULL                           |tag:staff@noreply.colabfit.org,2022-05-30:property/potential-energy|[[-1.307001, -3.305329, 0.501694], [-1.815857, -0.600617, 0.624189], [1.912557, 0.354473, 1.447459], [-0.161398, -0.273099, -2.429205], [-0.92455, -0.150098, 0.4599], [4.065101, -1.468665, -3.960276], [2.140853, 0.431131, 0.288465], [3.324277, -2.891591, 6.727858], [-1.078694, -4.629049, 1.169419], [-1.319787, 0.148004, 0.923578], [1.263415, 4.336363, 1.627108], [1.799871, 1.279145, 3.09007], [-0.688661, 0.127691, -1.924473], [1.194187, 2.289872, -3.352281], [-1.132798, -1.485129, 0.445502], [-3.700676, 1.345486, -1.056471], [-1.382872, -2.926083, -0.069224], [0.153473, 3.059506, -1.609438], [-2.283929, -0.769204, 1.476819], [-1.397038, -0.067624, -4.369371], [2.339723, -0.435861, -0.297768], [1.034636, -0.324537, 0.326179], [-5.133888, -2.526026, 1.197923], [3.327067, -2.021916, 0.959912], [0.281083, 0.820745, 1.70475], [0.483573, 0.641728, -2.615248], [-0.569336, 4.593918, 0.945771], [-0.362087, -2.471122, -2.876315], [0.434516, -1.037523, -0.742051], [2.361054, 3.398039, 1.149889], [1.469941, -0.626202, 0.979442], [-0.513217, -2.419993, -1.786941], [1.223426, 2.576385, 1.050371], [2.192966, 0.197594, 0.779511], [-2.130271, 2.12008, -1.317546], [1.468473, -0.740308, 2.839747], [-0.719811, 1.336904, 0.589685], [-1.737935, -0.920449, -3.555091], [-3.184143, -1.577162, -0.659712], [3.319108, 0.17994, 0.426615], [-1.380915, 0.769328, 0.060247], [-0.798862, 1.113912, -0.07444], [2.863421, -4.495103, -4.21856], [-3.172958, 0.875188, 1.625066], [-1.210005, -0.178851, 2.872404], [-0.89463, 3.455713, -0.493049], [0.417235, 2.109289, 0.865831], [-1.176894, -1.682496, 0.878017], [5.26725, -0.585063, 2.4077], [0.274311, -3.93142, -3.758984], [3.242884, 1.330637, -2.186739], [-0.655241, 1.091822, 1.32207], [-1.175391, 3.262142, 1.374119], [-3.891631, 1.331415, -3.549729], [2.275142, -1.386012, -0.591006], [3.842275, -0.315738, -1.404016], [0.159816, -0.384073, 0.392911], [0.004942, -0.219493, -0.943408], [3.054466, 4.167322, 5.853929], [-0.752007, 1.722995, 1.342288], [2.723765, 1.526727, -0.339283], [-2.756187, -5.377137, 1.949582], [-1.504227, 0.572646, -0.960834], [0.341653, -0.487391, 0.151487], [-1.928436, -2.331554, -1.026119], [-3.53059, 1.574378, 0.276592], [1.346006, -0.957666, -0.560385], [-1.912128, 0.036422, -0.277023], [4.138143, 2.68424, -1.648554], [0.764966, 1.081516, -3.072373], [0.522132, 0.351893, -2.518365], [1.460958, 1.254345, 1.338509], [-0.573278, 1.468714, 2.025487], [0.872767, -0.764276, 2.133547], [-1.475243, -0.814517, -4.110673], [-0.515327, 0.728365, 2.820466], [0.215699, -1.506708, -0.584225], [-2.697704, 3.967172, -2.796206], [-2.063341, -1.264931, -2.566189], [1.193726, -1.179186, 1.46878], [-1.219672, 0.521594, -1.831927], [-0.179224, 0.330899, -0.120923], [2.41263, 1.498779, -3.003183], [1.179377, -0.822224, 1.833346], [0.45806, -2.752634, 0.196653], [2.510036, 0.095603, 2.500775], [-1.548816, -6.459747, -1.487248], [-2.018716, -0.219173, 2.716091], [-1.246968, 5.872639, -1.533989], [-0.504326, -0.628763, 4.180711], [0.227025, -2.519621, 1.982248], [0.156642, -1.849839, -1.251047], [-1.222998, 1.777937, 2.598652], [-1.109044, -1.776168, 2.011233], [-1.768196, -0.760899, 1.304636], [-1.287724, 3.50763, -2.685344]]|eV/angstrom       |tag:staff@noreply.colabfit.org,2022-05-30:property/atomic-forces|[[-51.55233, 5.42229, -7.89991], [5.42229, -37.25612, -32.74397], [-7.89991, -32.74397, -32.09729]]|GPa               |true                           |tag:staff@noreply.colabfit.org,2022-05-30:property/cauchy-stress|NULL       |NULL            |NULL                |NULL                 |NULL                      |NULL                   |NULL    |NULL         |NULL                |NULL            |NULL                 |NULL                     |NULL                      |NULL                           |NULL                        |NULL             |NULL                  |NULL                      |NULL                       |NULL                            |NULL                         |NULL              |NULL                   |NULL                       |NULL                        |NULL                             |NULL                          |

24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 36.19% for 21 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 34.55% for 22 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 30.40% for 25 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 29.23% for 26 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 28.15% for 27 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 27.14% for 28 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 26.21% for 29 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 25.33% for 30 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 24.52% for 31 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 23.75% for 32 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 24.52% for 31 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 25.33% for 30 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 26.21% for 29 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 27.14% for 28 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 28.15% for 27 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 29.23% for 26 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 30.40% for 25 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 34.55% for 22 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 36.19% for 21 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/05/20 14:52:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

gpw_test_propobjects

24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 36.19% for 21 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 34.55% for 22 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 30.40% for 25 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 31.67% for 24 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 33.04% for 23 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 34.55% for 22 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 36.19% for 21 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/05/20 14:52:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [24]:
config_df = loader.spark.read.jdbc(
    url=url, table="configurations", properties=properties
)

In [101]:
def append_elem(col_array, elem):
    print(col_array)
    unstrung = eval(col_array)
    unstrung.append(elem)
    unstrung = list(set(unstrung))
    return str(unstrung)

In [25]:
config_df.show(1, False)

+----------------------+-------------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+----------------+-----------------+----------------------------+------+---------+--------------------+-------------------------------------------------------------------------------------------------+---------------+---------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------+----------+---------------------+
|id                    |hash               |last_modified      |dataset_ids          |metadata|chemical_formula_hill|chemical_formula_reduced|chemical_formula_anonymous|elements        |elements_ratios  |atomic_numbers              |nsites|nelements|nperiodic_dimensions|cell                                                                                             |dimension_types|pbc                  |positions                                                                                                                                                                                                                                                                                                                                                                                                            |names                      |labels    |configuration_set_ids|
+----------------------+-------------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+----------------+-----------------+----------------------------+------+---------+--------------------+-------------------------------------------------------------------------------------------------+---------------+---------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------+----------+---------------------+
|CO_1000272601413209564|1000272601413209564|2024-05-03 15:10:43|['DS_y7nrdsjtuw0g_0']|NULL    |In2N4Y2              |InN2Y                   |A2BC                      |['In', 'N', 'Y']|[0.25, 0.5, 0.25]|[39, 39, 49, 49, 7, 7, 7, 7]|8     |3        |0                   |[[3.42184625, 0.0, 0.0], [-1.7109231249999994, 2.9634057803445177, 0.0], [0.0, 0.0, 11.13673602]]|[0, 0, 0]      |[False, False, False]|[[0.0, 0.0, 0.0], [0.0, 0.0, 5.56836801], [-1.710923098524749e-08, 1.9756038634410311, 2.784184005], [1.7109231421092315, 0.9878019169034866, 8.352552015], [-1.710923098524749e-08, 1.9756038634410311, 6.919232818060203], [1.7109231421092315, 0.9878019169034866, 4.217503201939798], [1.7109231421092315, 0.9878019169034866, 1.350864808060202], [-1.710923098524749e-08, 1.9756038634410311, 9.7858712119398]]|['carolina_materials_4263']|[3, 'fcc']|NULL                 |
+----------------------+-------------------+-------------------+---------------------+--------+---------------------+------------------------+--------------------------+----------------+-----------------+----------------------------+------+---------+--------------------+-------------------------------------------------------------------------------------------------+---------------+---------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------+----------+---------------------+
only showing top 1 row

In [ ]:
# NEXT: find a way to check wehther cs-ids is null and handle the column =+ cs_id as array
# OR find a way to use the lambda function to use the user-defined function (append element)

In [118]:
labels = ["fcc", 6]
config_set_id = "test_config_set_id"
config_df.withColumn("filter_labels", sf.lit(labels)).withColumn(
    "labels_unstrung", sf.from_json(sf.col("labels"), ArrayType(StringType()))
).withColumn(
    "has_labels",
    sf.forall(
        "filter_labels",
        lambda x: sf.array_contains(col=sf.col("labels_unstrung"), value=x),
    ),
).withColumn(
    "new_cs_id", sf.lit([config_set_id])
).withColumn(
    "configuration_set_ids",
    sf.when(
        condition=sf.col("has_labels") == True,
        value=sf.array_union(config_df["configuration_set_ids"], sf.col("dataset_ids")),
    ),
    # .otherwise(config_df["configuration_set_ids"]),
)
# .withColumn(
#     "configuration_set_ids",
#     sf.transform_values(
#         "configuration_set_ids", lambda k, cs_ids: append_elem(cs_ids, config_set_id)
#     ),
# )
# .show(
#     10, False
# )

AnalysisException: [DATATYPE_MISMATCH.BINARY_ARRAY_DIFF_TYPES] Cannot resolve "array_union(configuration_set_ids, dataset_ids)" due to data type mismatch: Input to function `array_union` should have been two "ARRAY" with same element type, but it's ["STRING", "STRING"].;
'Project [id#42, hash#43, last_modified#44, dataset_ids#45, metadata#46, chemical_formula_hill#47, chemical_formula_reduced#48, chemical_formula_anonymous#49, elements#50, elements_ratios#51, atomic_numbers#52, nsites#53, nelements#54, nperiodic_dimensions#55, cell#56, dimension_types#57, pbc#58, positions#59, names#60, labels#61, CASE WHEN (has_labels#2158 = true) THEN array_union(configuration_set_ids#62, dataset_ids#45) END AS configuration_set_ids#2210, filter_labels#2111, labels_unstrung#2134, has_labels#2158, new_cs_id#2184]
+- Project [id#42, hash#43, last_modified#44, dataset_ids#45, metadata#46, chemical_formula_hill#47, chemical_formula_reduced#48, chemical_formula_anonymous#49, elements#50, elements_ratios#51, atomic_numbers#52, nsites#53, nelements#54, nperiodic_dimensions#55, cell#56, dimension_types#57, pbc#58, positions#59, names#60, labels#61, configuration_set_ids#62, filter_labels#2111, labels_unstrung#2134, has_labels#2158, test_config_set_id AS new_cs_id#2184]
   +- Project [id#42, hash#43, last_modified#44, dataset_ids#45, metadata#46, chemical_formula_hill#47, chemical_formula_reduced#48, chemical_formula_anonymous#49, elements#50, elements_ratios#51, atomic_numbers#52, nsites#53, nelements#54, nperiodic_dimensions#55, cell#56, dimension_types#57, pbc#58, positions#59, names#60, labels#61, configuration_set_ids#62, filter_labels#2111, labels_unstrung#2134, forall(filter_labels#2111, lambdafunction(array_contains(labels_unstrung#2134, lambda x_28#2159), lambda x_28#2159, false)) AS has_labels#2158]
      +- Project [id#42, hash#43, last_modified#44, dataset_ids#45, metadata#46, chemical_formula_hill#47, chemical_formula_reduced#48, chemical_formula_anonymous#49, elements#50, elements_ratios#51, atomic_numbers#52, nsites#53, nelements#54, nperiodic_dimensions#55, cell#56, dimension_types#57, pbc#58, positions#59, names#60, labels#61, configuration_set_ids#62, filter_labels#2111, from_json(ArrayType(StringType,true), labels#61, Some(America/New_York)) AS labels_unstrung#2134]
         +- Project [id#42, hash#43, last_modified#44, dataset_ids#45, metadata#46, chemical_formula_hill#47, chemical_formula_reduced#48, chemical_formula_anonymous#49, elements#50, elements_ratios#51, atomic_numbers#52, nsites#53, nelements#54, nperiodic_dimensions#55, cell#56, dimension_types#57, pbc#58, positions#59, names#60, labels#61, configuration_set_ids#62, array(fcc, cast(6 as string)) AS filter_labels#2111]
            +- Relation [id#42,hash#43,last_modified#44,dataset_ids#45,metadata#46,chemical_formula_hill#47,chemical_formula_reduced#48,chemical_formula_anonymous#49,elements#50,elements_ratios#51,atomic_numbers#52,nsites#53,nelements#54,nperiodic_dimensions#55,cell#56,dimension_types#57,pbc#58,positions#59,names#60,labels#61,configuration_set_ids#62] JDBCRelation(configurations) [numPartitions=1]

In [10]:
first = config_df.first()

In [83]:
first

Row(id='CO_1000272601413209564', hash='1000272601413209564', last_modified=datetime.datetime(2024, 5, 3, 15, 10, 43), dataset_ids="['DS_y7nrdsjtuw0g_0']", metadata=None, chemical_formula_hill='In2N4Y2', chemical_formula_reduced='InN2Y', chemical_formula_anonymous='A2BC', elements="['In', 'N', 'Y']", elements_ratios='[0.25, 0.5, 0.25]', atomic_numbers='[39, 39, 49, 49, 7, 7, 7, 7]', nsites=8, nelements=3, nperiodic_dimensions=0, cell='[[3.42184625, 0.0, 0.0], [-1.7109231249999994, 2.9634057803445177, 0.0], [0.0, 0.0, 11.13673602]]', dimension_types='[0, 0, 0]', pbc='[False, False, False]', positions='[[0.0, 0.0, 0.0], [0.0, 0.0, 5.56836801], [-1.710923098524749e-08, 1.9756038634410311, 2.784184005], [1.7109231421092315, 0.9878019169034866, 8.352552015], [-1.710923098524749e-08, 1.9756038634410311, 6.919232818060203], [1.7109231421092315, 0.9878019169034866, 4.217503201939798], [1.7109231421092315, 0.9878019169034866, 1.350864808060202], [-1.710923098524749e-08, 1.9756038634410311, 9.7858712119398]]', names="['carolina_materials_4263']", labels="[3, 'fcc']", configuration_set_ids=None)

In [26]:
config_rdd = config_df.rdd

In [31]:
first_rdd = config_rdd.take(1)

In [36]:
for x in first_rdd[0]:
    print(x)

CO_1000272601413209564
1000272601413209564
2024-05-03 15:10:43
['DS_y7nrdsjtuw0g_0']
None
In2N4Y2
InN2Y
A2BC
['In', 'N', 'Y']
[0.25, 0.5, 0.25]
[39, 39, 49, 49, 7, 7, 7, 7]
8
3
0
[[3.42184625, 0.0, 0.0], [-1.7109231249999994, 2.9634057803445177, 0.0], [0.0, 0.0, 11.13673602]]
[0, 0, 0]
[False, False, False]
[[0.0, 0.0, 0.0], [0.0, 0.0, 5.56836801], [-1.710923098524749e-08, 1.9756038634410311, 2.784184005], [1.7109231421092315, 0.9878019169034866, 8.352552015], [-1.710923098524749e-08, 1.9756038634410311, 6.919232818060203], [1.7109231421092315, 0.9878019169034866, 4.217503201939798], [1.7109231421092315, 0.9878019169034866, 1.350864808060202], [-1.710923098524749e-08, 1.9756038634410311, 9.7858712119398]]
['carolina_materials_4263']
[3, 'fcc']
None

In [40]:
from functools import partial
from pyspark.sql import Row

In [42]:
Row(first_rdd[0].asDict())

<Row({'id': 'CO_1000272601413209564', 'hash': '1000272601413209564', 'last_modified': datetime.datetime(2024, 5, 3, 15, 10, 43), 'dataset_ids': "['DS_y7nrdsjtuw0g_0']", 'metadata': None, 'chemical_formula_hill': 'In2N4Y2', 'chemical_formula_reduced': 'InN2Y', 'chemical_formula_anonymous': 'A2BC', 'elements': "['In', 'N', 'Y']", 'elements_ratios': '[0.25, 0.5, 0.25]', 'atomic_numbers': '[39, 39, 49, 49, 7, 7, 7, 7]', 'nsites': 8, 'nelements': 3, 'nperiodic_dimensions': 0, 'cell': '[[3.42184625, 0.0, 0.0], [-1.7109231249999994, 2.9634057803445177, 0.0], [0.0, 0.0, 11.13673602]]', 'dimension_types': '[0, 0, 0]', 'pbc': '[False, False, False]', 'positions': '[[0.0, 0.0, 0.0], [0.0, 0.0, 5.56836801], [-1.710923098524749e-08, 1.9756038634410311, 2.784184005], [1.7109231421092315, 0.9878019169034866, 8.352552015], [-1.710923098524749e-08, 1.9756038634410311, 6.919232818060203], [1.7109231421092315, 0.9878019169034866, 4.217503201939798], [1.7109231421092315, 0.9878019169034866, 1.350864808060202], [-1.710923098524749e-08, 1.9756038634410311, 9.7858712119398]]', 'names': "['carolina_materials_4263']", 'labels': "[3, 'fcc']", 'configuration_set_ids': None})>

In [50]:
config_rdd.map(unstringify).take(1)

[Row(id='CO_1000272601413209564', hash='1000272601413209564', last_modified=datetime.datetime(2024, 5, 3, 15, 10, 43), dataset_ids=['DS_y7nrdsjtuw0g_0'], metadata=None, chemical_formula_hill='In2N4Y2', chemical_formula_reduced='InN2Y', chemical_formula_anonymous='A2BC', elements=['In', 'N', 'Y'], elements_ratios=[0.25, 0.5, 0.25], atomic_numbers=[39, 39, 49, 49, 7, 7, 7, 7], nsites=8, nelements=3, nperiodic_dimensions=0, cell=[[3.42184625, 0.0, 0.0], [-1.7109231249999994, 2.9634057803445177, 0.0], [0.0, 0.0, 11.13673602]], dimension_types=[0, 0, 0], pbc=[False, False, False], positions=[[0.0, 0.0, 0.0], [0.0, 0.0, 5.56836801], [-1.710923098524749e-08, 1.9756038634410311, 2.784184005], [1.7109231421092315, 0.9878019169034866, 8.352552015], [-1.710923098524749e-08, 1.9756038634410311, 6.919232818060203], [1.7109231421092315, 0.9878019169034866, 4.217503201939798], [1.7109231421092315, 0.9878019169034866, 1.350864808060202], [-1.710923098524749e-08, 1.9756038634410311, 9.7858712119398]], names=['carolina_materials_4263'], labels=[3, 'fcc'], configuration_set_ids=None)]

In [ ]:
test_rdd.take(10)

In [1]:
config_rdd.take(10)

NameError: name 'config_rdd' is not defined

In [49]:
def unstringify(row):
    row_dict = row.asDict()
    for key, val in row_dict.items():
        if isinstance(val, str) and len(val) > 0 and val[0] in ["{", "["]:
            dval = eval(row[key])
            row_dict[key] = dval
    new_row = Row(**row_dict)
    return new_row

df.rdd  
you can only parallelize one time so don't try to do a dataframe select from an rdd  
updating to sdk 5.1 in a couple weeks  
boto3 and s3 are the amazon file system interactions, mostly for adding metadata TO FILES (not to the database) and interacting with the files as FileExistsError. 
Make sure to spark.stop() at end of  python file.

In [7]:
carmat_config_gen = carmat_reader(Path("data/carolina_matdb/base/all/data.mdb"))
carmat_ds_id = "DS_y7nrdsjtuw0g_0"
# carmat_ds_id2 = "duplicate_ds_id"
dm = DataManager(
    nprocs=4,
    configs=carmat_config_gen,
    prop_defs=[formation_energy_pd],
    prop_map=CM_PROPERTY_MAP,
    dataset_id=carmat_ds_id,
)
# dm_dup = DataManager(
#     nprocs=4,
#     configs=carmat_config_gen,
#     prop_defs=[formation_energy_pd],
#     prop_map=CM_PROPERTY_MAP,
#     dataset_id=carmat_ds_id2,
# )

Dataset ID: DS_y7nrdsjtuw0g_0

In [8]:
mtpu_ds_id = "DS_y7nrdsjtuwom_0"
dm2 = DataManager(
    nprocs=4,
    configs=mtpu_configs,
    prop_defs=[potential_energy_pd, atomic_forces_pd, cauchy_stress_pd],
    prop_map=PROPERTY_MAP,
    dataset_id=mtpu_ds_id,
)

Dataset ID: DS_y7nrdsjtuwom_0

In [12]:
batch = next(dm.gather_co_po_in_batches())

In [13]:
cos = [x[0] for x in batch]
cos_dataframe = loader.spark.createDataFrame(cos, schema=config_schema)

In [11]:
rows = loader.spark.createDataFrame(cos, schema=config_schema).collect()

In [13]:
row_dict = defaultdict(list)
for i, row in enumerate(rows):
    if i > 10:
        break
    for key, val in row.asDict().items():
        row_dict[key].append(val)
print(row_dict)

defaultdict(<class 'list'>, {'id': ['CO_2035392092515548233', 'CO_395357802651642160', 'CO_1353971176978508405', 'CO_673544646621950284', 'CO_1180491453360028556', 'CO_1235470615381239321', 'CO_1125763852340156480', 'CO_2185718778256801767', 'CO_1547613879869181226', 'CO_2262213674274439455', 'CO_2212061042677459331'], 'hash': ['2035392092515548233', '395357802651642160', '1353971176978508405', '673544646621950284', '1180491453360028556', '1235470615381239321', '1125763852340156480', '2185718778256801767', '1547613879869181226', '2262213674274439455', '2212061042677459331'], 'last_modified': [datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24), datetime.datetime(2024, 5, 8, 15, 17, 24)], 'dataset_ids': ["['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']", "['DS_y7nrdsjtuw0g_0']"], 'metadata': [None, None, None, None, None, None, None, None, None, None, None], 'chemical_formula_hill': ['H6BrCaRh2', 'H24Al4Co4Ti4', 'FeGe6InSn2', 'Au4F24Li4', 'Na2OsRuV6', 'Cr6FeOsRu2', 'FeMg2NiTi6', 'Au2InKPt6', 'Cl6MoSb2Sc', 'BCrIr2N6', 'Cr2NiPbSe6'], 'chemical_formula_reduced': ['BrCaH6Rh2', 'AlCoH6Ti', 'FeGe6InSn2', 'AuF6Li', 'Na2OsRuV6', 'Cr6FeOsRu2', 'FeMg2NiTi6', 'Au2InKPt6', 'Cl6MoSb2Sc', 'BCrIr2N6', 'Cr2NiPbSe6'], 'chemical_formula_anonymous': ['A6B2CD', 'A6BCD', 'A6B2CD', 'A6BC', 'A6B2CD', 'A6B2CD', 'A6B2CD', 'A6B2CD', 'A6B2CD', 'A6B2CD', 'A6B2CD'], 'elements': ["['Br', 'Ca', 'H', 'Rh']", "['Al', 'Co', 'H', 'Ti']", "['Fe', 'Ge', 'In', 'Sn']", "['Au', 'F', 'Li']", "['Na', 'Os', 'Ru', 'V']", "['Cr', 'Fe', 'Os', 'Ru']", "['Fe', 'Mg', 'Ni', 'Ti']", "['Au', 'In', 'K', 'Pt']", "['Cl', 'Mo', 'Sb', 'Sc']", "['B', 'Cr', 'Ir', 'N']", "['Cr', 'Ni', 'Pb', 'Se']"], 'elements_ratios': ['[0.1, 0.1, 0.6, 0.2]', '[0.1111111111111111, 0.1111111111111111, 0.6666666666666666, 0.1111111111111111]', '[0.1, 0.6, 0.1, 0.2]', '[0.125, 0.75, 0.125]', '[0.2, 0.1, 0.1, 0.6]', '[0.6, 0.1, 0.1, 0.2]', '[0.1, 0.2, 0.1, 0.6]', '[0.2, 0.1, 0.1, 0.6]', '[0.6, 0.1, 0.2, 0.1]', '[0.1, 0.1, 0.2, 0.6]', '[0.2, 0.1, 0.1, 0.6]'], 'atomic_numbers': ['[35, 20, 1, 1, 1, 1, 1, 1, 45, 45]', '[22, 22, 22, 22, 13, 13, 13, 13, 27, 27, 27, 27, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]', '[26, 32, 32, 32, 32, 32, 32, 49, 50, 50]', '[3, 3, 3, 3, 79, 79, 79, 79, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]', '[11, 11, 76, 44, 23, 23, 23, 23, 23, 23]', '[24, 24, 24, 24, 24, 24, 26, 76, 44, 44]', '[26, 12, 12, 28, 22, 22, 22, 22, 22, 22]', '[79, 79, 49, 19, 78, 78, 78, 78, 78, 78]', '[17, 17, 17, 17, 17, 17, 42, 51, 51, 21]', '[5, 24, 77, 77, 7, 7, 7, 7, 7, 7]', '[24, 24, 28, 82, 34, 34, 34, 34, 34, 34]'], 'nsites': [10, 36, 10, 32, 10, 10, 10, 10, 10, 10, 10], 'nelements': [4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4], 'nperiodic_dimensions': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'cell': ['[[5.39874426, 0.0, 0.0], [2.6993721300000004, 4.67544967769542, 0.0], [2.6993721300000004, 1.5584832258984738, 4.4080562295931855]]', '[[6.15561698, 0.0, 0.0], [0.0, 6.15561698, 0.0], [0.0, 0.0, 6.15561698]]', '[[7.43156319, 0.0, 0.0], [3.715781595000001, 6.435922512369321, 0.0], [3.715781595000001, 2.1453075041231076, 6.067845935583344]]', '[[7.15089046, 0.0, 0.0], [0.0, 7.15089046, 0.0], [0.0, 0.0, 7.15089046]]', '[[6.54034444, 0.0, 0.0], [3.270172219497596, 5.6641035341639325, 0.0], [3.2701714405023883, 1.888034661305724, 5.34016844849794]]', '[[6.07158833, 0.0, 0.0], [3.035794165000001, 5.258149735101135, 0.0], [3.035794165000001, 1.7527165783670453, 4.957431112245681]]', '[[6.56086252, 0.0, 0.0], [3.2804312600000007, 5.681873613057189, 0.0], [3.2804312600000007, 1.8939578710190634, 5.356921815516864]]', '[[7.12091764, 0.0, 0.0], [3.560458820000001, 6.166895574496731, 0.0], [3.560458820000001, 2.0556318581655777, 5.814204906127931]]', '[[6.99866541, 0.0, 0.0], [3.499332705000001, 6.061022037647434, 0.0], [3.499332705000001, 2.0203406792158116, 5.714386378322141]]', '[[5.43784303, 0.0, 0.0], [2.7189215150000003, 4.7093102057721445, 0.0], [2.7189215150000003, 1.5697700685907152, 4.439980241616666]]', '[[7.06578183, 0.0, 0.0], [3.5328909150000007, 6.119146562378499, 0.0], [3.5328909150000007, 2.0397155207928335, 5.76918670577625]]'], 'dimension_types': ['[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]', '[0, 0, 0]'], 'pbc': ['[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]', '[False, False, False]'], 'positions': ['[[0.0, 0.0, 0.0], [5.398744260000001, 3.116966451796947, 2.2040281147965928], [5.398744260000001, 4.84493341938597, 3.4258852752451454], [5.39874426, 1.3889994842079243, 0.9821709543480398], [6.895207550832455, 3.980949935591458, 0.9821709543480398], [3.902280969167545, 2.252982968002436, 3.4258852752451454], [6.895207550832455, 2.252982968002436, 3.4258852752451454], [3.902280969167545, 3.980949935591458, 0.9821709543480398], [8.098116390000001, 4.67544967769542, 3.306042172194889], [2.6993721300000004, 1.5584832258984735, 1.1020140573982964]]', '[[1.538904245, 1.538904245, 4.616712735], [1.538904245, 4.616712735, 1.538904245], [4.616712735, 1.538904245, 1.538904245], [4.616712735, 4.616712735, 4.616712735], [0.0, 0.0, 0.0], [0.0, 3.07780849, 3.07780849], [3.07780849, 0.0, 3.07780849], [3.07780849, 3.07780849, 0.0], [1.538904245, 1.538904245, 1.538904245], [1.538904245, 4.616712735, 4.616712735], [4.616712735, 1.538904245, 4.616712735], [4.616712735, 4.616712735, 1.538904245], [3.07780849, 1.3692779705893465, 0.0], [0.0, 1.7085305194106533, 0.0], [1.7085305194106533, 0.0, 0.0], [4.447086460589347, 0.0, 0.0], [3.07780849, 0.0, 4.786339009410653], [3.07780849, 0.0, 1.3692779705893465], [3.07780849, 4.447086460589347, 3.07780849], [0.0, 4.786339009410653, 3.07780849], [1.7085305194106533, 3.07780849, 3.07780849], [4.447086460589347, 3.07780849, 3.07780849], [3.07780849, 3.07780849, 1.7085305194106533], [3.07780849, 3.07780849, 4.447086460589347], [0.0, 1.3692779705893465, 3.07780849], [3.07780849, 1.7085305194106533, 3.07780849], [4.786339009410653, 0.0, 3.07780849], [1.3692779705893465, 0.0, 3.07780849], [0.0, 0.0, 1.7085305194106533], [0.0, 0.0, 4.447086460589347], [0.0, 4.447086460589347, 0.0], [3.07780849, 4.786339009410653, 0.0], [4.786339009410653, 3.07780849, 0.0], [1.3692779705893465, 3.07780849, 0.0], [0.0, 3.07780849, 4.786339009410653], [0.0, 3.07780849, 1.3692779705893465]]', '[[0.0, 0.0, 0.0], [1.8578907975000005, 1.0726537520615538, 3.033922967791672], [5.573672392500001, 1.0726537520615538, 3.033922967791672], [5.573672392500001, 3.2179612561846604, 0.0], [1.8578907975000005, 3.2179612561846604, 0.0], [3.715781595000001, 4.290615008246214, 3.033922967791672], [3.715781595, 0.0, 0.0], [7.431563190000001, 4.290615008246214, 3.033922967791672], [11.147344785000001, 6.435922512369322, 4.550884451687509], [3.7157815950000006, 2.145307504123107, 1.516961483895836]]', '[[5.363167845, 1.787722615, 1.787722615], [5.363167845, 5.363167845, 5.363167845], [1.787722615, 1.787722615, 5.363167845], [1.787722615, 5.363167845, 1.787722615], [0.0, 0.0, 0.0], [0.0, 3.57544523, 3.57544523], [3.57544523, 0.0, 3.57544523], [3.57544523, 3.57544523, 0.0], [3.620749124438093, 1.787722615, 5.363167845], [5.363167845, 3.530141335561907, 5.363167845], [7.105586565561907, 1.787722615, 5.363167845], [5.363167845, 0.0453038944380932, 5.363167845], [5.363167845, 1.787722615, 7.105586565561907], [5.363167845, 1.787722615, 3.620749124438093], [3.620749124438093, 5.363167845, 1.787722615], [5.363167845, 7.105586565561907, 1.787722615], [7.105586565561907, 5.363167845, 1.787722615], [5.363167845, 3.620749124438093, 1.787722615], [5.363167845, 5.363167845, 3.530141335561907], [5.363167845, 5.363167845, 0.0453038944380932], [0.0453038944380932, 1.787722615, 1.787722615], [1.787722615, 3.530141335561907, 1.787722615], [3.530141335561907, 1.787722615, 1.787722615], [1.787722615, 0.0453038944380932, 1.787722615], [1.787722615, 1.787722615, 3.530141335561907], [1.787722615, 1.787722615, 0.0453038944380932], [0.0453038944380932, 5.363167845, 5.363167845], [1.787722615, 7.105586565561907, 5.363167845], [3.530141335561907, 5.363167845, 5.363167845], [1.787722615, 3.620749124438093, 5.363167845], [1.787722615, 5.363167845, 7.105586565561907], [1.787722615, 5.363167845, 3.620749124438093]]', '[[9.810516074999988, 5.664103646602243, 4.005126336373455], [3.270172024999996, 1.8880345488674142, 1.335042112124485], [6.540344049999992, 3.7760690977348284, 2.67008422424897], [0.0, 0.0, 0.0], [6.540343852814592, 5.685263151876927, 4.020088366930772], [6.540344247185392, 1.8668750435927293, 1.320080081567168], [8.193755028579922, 4.730666067956665, 1.320080081567168], [4.886933071420062, 2.821472127512991, 4.020088366930772], [8.193754634717157, 2.821472127512991, 4.020088366930772], [4.886933465282827, 4.730666067956665, 1.320080081567168]]', '[[1.5178970825000004, 0.8763582891835227, 2.4787155561228404], [4.553691247500001, 0.8763582891835227, 2.4787155561228404], [4.553691247500001, 2.6290748675505675, 0.0], [1.5178970825000004, 2.6290748675505675, 0.0], [3.035794165000001, 3.50543315673409, 2.4787155561228404], [3.035794165, 0.0, 0.0], [0.0, 0.0, 0.0], [6.071588330000001, 3.50543315673409, 2.4787155561228404], [9.107382495000001, 5.258149735101135, 3.7180733341842607], [3.0357941650000004, 1.752716578367045, 1.2393577780614202]]', '[[6.560862520000001, 3.7879157420381264, 2.678460907758432], [9.84129378, 5.68187361305719, 4.017691361637648], [3.2804312600000003, 1.8939578710190632, 1.339230453879216], [0.0, 0.0, 0.0], [1.6402156300000004, 0.9469789355095317, 2.678460907758432], [4.92064689, 0.9469789355095317, 2.678460907758432], [4.92064689, 2.8409368065285947, 0.0], [1.6402156300000004, 2.8409368065285947, 0.0], [3.2804312600000007, 3.7879157420381264, 2.678460907758432], [3.28043126, 0.0, 0.0]]', '[[10.681376460000001, 6.166895574496731, 4.3606536795959485], [3.5604588200000005, 2.0556318581655773, 1.4535512265319828], [0.0, 0.0, 0.0], [7.120917640000001, 4.1112637163311545, 2.9071024530639655], [1.7802294100000005, 1.0278159290827888, 2.9071024530639655], [5.3406882300000005, 1.0278159290827888, 2.9071024530639655], [5.3406882300000005, 3.0834477872483657, 0.0], [1.7802294100000005, 3.0834477872483657, 0.0], [3.560458820000001, 4.1112637163311545, 2.9071024530639655], [3.56045882, 0.0, 0.0]]', '[[6.998665410000002, 6.008416891923776, 4.248592328475101], [6.998665410000001, 2.0729458249394694, 1.4657940498470403], [8.70277436993353, 5.0245491251777, 1.4657940498470403], [5.294556450066471, 3.0568135916855463, 4.248592328475101], [8.70277436993353, 3.0568135916855463, 4.248592328475101], [5.294556450066471, 5.0245491251777, 1.4657940498470403], [6.998665410000001, 4.040681358431623, 2.8571931891610705], [10.497998115000001, 6.061022037647435, 4.285789783741606], [3.4993327050000005, 2.0203406792158116, 1.4285965945805352], [0.0, 0.0, 0.0]]', '[[0.0, 0.0, 0.0], [5.43784303, 3.13954013718143, 2.219990120808333], [8.156764545, 4.7093102057721445, 3.329985181212499], [2.718921515, 1.569770068590715, 1.1099950604041664], [1.3594607575000002, 0.7848850342953576, 2.219990120808333], [4.0783822725, 0.7848850342953576, 2.219990120808333], [4.0783822725, 2.3546551028860723, 0.0], [1.3594607575000002, 2.3546551028860723, 0.0], [2.7189215150000003, 3.13954013718143, 2.219990120808333], [2.718921515, 0.0, 0.0]]', '[[10.598672745000002, 6.119146562378499, 4.326890029332188], [3.5328909150000003, 2.039715520792833, 1.4422966764440626], [7.065781830000001, 4.079431041585666, 2.884593352888125], [0.0, 0.0, 0.0], [7.065781830000001, 5.946989105985988, 4.205156324485215], [7.065781829999999, 2.211872977185344, 1.5640303812910343], [8.683134556813174, 5.013210073785827, 1.5640303812910343], [5.448429103186826, 3.1456520093855054, 4.205156324485215], [8.683134556813172, 3.1456520093855054, 4.205156324485215], [5.448429103186826, 5.013210073785827, 1.5640303812910343]]'], 'names': ["['carolina_materials_0']", "['carolina_materials_1']", "['carolina_materials_2']", "['carolina_materials_3']", "['carolina_materials_4']", "['carolina_materials_5']", "['carolina_materials_6']", "['carolina_materials_7']", "['carolina_materials_8']", "['carolina_materials_9']", "['carolina_materials_10']"], 'labels': ["[0, 'bcc']", "[1, 'fcc']", "[2, 'fcc']", "[3, 'fcc']", "[4, 'fcc']", "[5, 'fcc']", "[6, 'fcc']", "[7, 'fcc']", "[8, 'fcc']", "[9, 'fcc']", "[0, 'bcc']"], 'configuration_set_ids': [None, None, None, None, None, None, None, None, None, None, None]})

In [30]:
import pyarrow as pa

config_schema = StructType(
    [
        StructField("id", StringType(), False),
        StructField("hash", StringType(), False),
        StructField("last_modified", TimestampType(), False),
        StructField("dataset_ids", StringType(), True),  # ArrayType(StringType())
        StructField("metadata", StringType(), True),
        StructField("chemical_formula_hill", StringType(), True),
        StructField("chemical_formula_reduced", StringType(), True),
        StructField("chemical_formula_anonymous", StringType(), True),
        StructField("elements", StringType(), True),  # ArrayType(StringType())
        StructField("elements_ratios", StringType(), True),  # ArrayType(IntegerType())
        StructField("atomic_numbers", StringType(), True),  # ArrayType(IntegerType())
        StructField("nsites", IntegerType(), True),
        StructField("nelements", IntegerType(), True),
        StructField("nperiodic_dimensions", IntegerType(), True),
        StructField("cell", StringType(), True),  # ArrayType(ArrayType(DoubleType()))
        StructField("dimension_types", StringType(), True),  # ArrayType(IntegerType())
        StructField("pbc", StringType(), True),  # ArrayType(IntegerType())
        StructField(
            "positions", StringType(), True
        ),  # ArrayType(ArrayType(DoubleType()))
        StructField("names", StringType(), True),  # ArrayType(StringType()),
        StructField("labels", StringType(), True),  # ArrayType(StringType())
        StructField(
            "configuration_set_ids", StringType(), True
        ),  # ArrayType(StringType())
    ]
)


def convert_type(spark_type):
    type_name = spark_type.dataType.typeName()
    if type_name in data_type_map:
        print(data_type_map[type_name])
        return pa.field(spark_type.name, data_type_map[type_name])
    else:
        raise ValueError(f"Unsupported PySpark data type: {spark_type}")


# data_type_map = {
#     StringType: pa.string(),
#     IntegerType: pa.int32(),
#     FloatType: pa.float64(),
#     DoubleType: pa.float64(),
#     BooleanType: pa.bool_(),
#     TimestampType: pa.timestamp("ns"),
#     # DateType: pa.date32(),
#     ArrayType: lambda dt: pa.list_(convert_type(dt)),
#     StructType: lambda st: pa.struct([convert_type(f) for f in st.fields]),
# }
data_type_map = {
    "string": pa.string(),
    "integer": pa.int32(),
    "float": pa.float64(),
    # DoubleType: pa.float64(),
    # BooleanType: pa.bool_(),
    "timestamp": pa.timestamp("ns"),
    # DateType: pa.date32(),
    # ArrayType: lambda dt: pa.list_(convert_type(dt)),
    "struct": lambda st: pa.struct([convert_type(f) for f in st.fields]),
}

In [14]:
config_set_query = (
    cos_dataframe.withColumn(
        "names_unstrung", sf.from_json(sf.col("names"), ArrayType(StringType()))
    )
    .withColumn(
        "labels_unstrung",
        sf.from_json(sf.col("labels"), ArrayType(StringType())),
    )
    .withColumn(
        "dataset_ids_unstrung", sf.from_json("dataset_ids", ArrayType(StringType()))
    )
    .drop("names", "labels", "dataset_ids")
    .withColumnRenamed("names_unstrung", "names")
    .withColumnRenamed("labels_unstrung", "labels")
    .withColumnRenamed("dataset_ids_unstrung", "dataset_ids")
    .filter(sf.array_contains(sf.col("dataset_ids"), carmat_ds_id))
)

In [15]:
config_set_query.show(1, False)

+----------------------+-------------------+-------------------+--------+---------------------+------------------------+--------------------------+-----------------------+--------------------+----------------------------------+------+---------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+----------------------+--------+-------------------+
|id                    |hash               |last_modified      |metadata|chemical_formula_hill|chemical_formula_reduced|chemical_formula_anonymous|elements               |elements_ratios     |atomic_numbers                    |nsites|nelements|nperiodic_dimensions|cell                                                                                                                               |dimension_types|pbc                  |positions                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |configuration_set_ids|names                 |labels  |dataset_ids        |
+----------------------+-------------------+-------------------+--------+---------------------+------------------------+--------------------------+-----------------------+--------------------+----------------------------------+------+---------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+----------------------+--------+-------------------+
|CO_2035392092515548233|2035392092515548233|2024-05-08 15:42:38|NULL    |H6BrCaRh2            |BrCaH6Rh2               |A6B2CD                    |['Br', 'Ca', 'H', 'Rh']|[0.1, 0.1, 0.6, 0.2]|[35, 20, 1, 1, 1, 1, 1, 1, 45, 45]|10    |4        |0                   |[[5.39874426, 0.0, 0.0], [2.6993721300000004, 4.67544967769542, 0.0], [2.6993721300000004, 1.5584832258984738, 4.4080562295931855]]|[0, 0, 0]      |[False, False, False]|[[0.0, 0.0, 0.0], [5.398744260000001, 3.116966451796947, 2.2040281147965928], [5.398744260000001, 4.84493341938597, 3.4258852752451454], [5.39874426, 1.3889994842079243, 0.9821709543480398], [6.895207550832455, 3.980949935591458, 0.9821709543480398], [3.902280969167545, 2.252982968002436, 3.4258852752451454], [6.895207550832455, 2.252982968002436, 3.4258852752451454], [3.902280969167545, 3.980949935591458, 0.9821709543480398], [8.098116390000001, 4.67544967769542, 3.306042172194889], [2.6993721300000004, 1.5584832258984735, 1.1020140573982964]]|NULL                 |[carolina_materials_0]|[0, bcc]|[DS_y7nrdsjtuw0g_0]|
+----------------------+-------------------+-------------------+--------+---------------------+------------------------+--------------------------+-----------------------+--------------------+----------------------------------+------+---------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+----------------------+--------+-------------------+
only showing top 1 row

In [17]:
label_match = "fcc|1"
names_match = "materials_10"
if names_match:
    config_set_query = (
        config_set_query.withColumn("labels_exploded", sf.explode(sf.col("labels")))
        .withColumn("names_exploded", sf.explode(sf.col("names")))
        .drop("names")
        .filter(sf.regexp_like(sf.col("names_exploded"), sf.lit(rf"{names_match}")))
    )
if label_match:
    config_set_query = config_set_query.filter(
        sf.regexp_like(sf.col("labels_exploded"), sf.lit(rf"{label_match}"))
    )
config_set_query.show(1, False)

+---------------------+------------------+-------------------+--------+---------------------+------------------------+--------------------------+------------------------+--------------------+----------------------------------------+------+---------+--------------------+--------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------+-------------------+---------------+----------------------+
|id                   |hash              |last_modified      |metadata|chemical_formula_hill|chemical_formula_reduced|chemical_formula_anonymous|elements                |elements_ratios     |atomic_numbers                          |nsites|nelements|nperiodic_dimensions|cell                                                                                                                            |dimension_types|pbc                  |positions                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |configuration_set_ids|labels  |dataset_ids        |labels_exploded|names_exploded        |
+---------------------+------------------+-------------------+--------+---------------------+------------------------+--------------------------+------------------------+--------------------+----------------------------------------+------+---------+--------------------+--------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------+-------------------+---------------+----------------------+
|CO_623768866906050502|623768866906050502|2024-05-08 15:17:24|NULL    |Cd6MgSeTe2           |Cd6MgSeTe2              |A6B2CD                    |['Cd', 'Mg', 'Se', 'Te']|[0.6, 0.1, 0.1, 0.2]|[48, 48, 48, 48, 48, 48, 12, 34, 52, 52]|10    |4        |0                   |[[8.10975373, 0.0, 0.0], [4.054876866668527, 7.023251338917589, 0.0], [4.054875643331443, 2.341084015070624, 6.621585529535167]]|[0, 0, 0]      |[False, False, False]|[[2.0274378216657216, 1.170542007535312, 3.3107927647675837], [6.082314686665722, 1.170542007535312, 3.3107927647675837], [6.082315298334263, 3.5116256694587946, 0.0], [2.0274384333342637, 3.5116256694587946, 0.0], [4.054876254999986, 4.682167676994107, 3.3107927647675837], [4.054876865, 0.0, 0.0], [0.0, 0.0, 0.0], [8.109753119999985, 4.682167676994107, 3.3107927647675837], [12.164629679999976, 7.02325151549116, 4.9661891471513755], [4.054876559999992, 2.3410838384970534, 1.6553963823837918]]|NULL                 |[1, fcc]|[DS_y7nrdsjtuw0g_0]|1              |carolina_materials_101|
+---------------------+------------------+-------------------+--------+---------------------+------------------------+--------------------------+------------------------+--------------------+----------------------------------------+------+---------+--------------------+--------------------------------------------------------------------------------------------------------------------------------+---------------+---------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+--------+-------------------+---------------+----------------------+
only showing top 1 row

In [18]:
loader.spark.sql(
    "UPDATE config_table SET configuration_set_ids = array_append(configuration_set_ids, %s) WHERE id = %s"
) % (config_set.id, co_ids)

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '('.(line 1, pos 60)

== SQL ==
UPDATE config_table SET configuration_set_ids = array_append(configuration_set_ids, %s) WHERE id = %s
------------------------------------------------------------^^^

In [21]:
from colabfit.tools.configuration_set import ConfigurationSet

In [20]:
from importlib import reload
import colabfit.tools.configuration_set

reload(colabfit.tools.configuration_set)
ConfigurationSet = colabfit.tools.configuration_set.ConfigurationSet
reload(colabfit.tools.database)
from colabfit.tools.database import DataManager, PGDataLoader

In [16]:
co_ids = [x[0] for x in config_set_query.select("id").distinct().collect()]

In [17]:
co_ids

['CO_1180491453360028556',
 'CO_879568364406847005',
 'CO_881342345556419709',
 'CO_395357802651642160',
 'CO_107450829658643358',
 'CO_2096618530829203889',
 'CO_991509346356160256',
 'CO_1491805601289580349',
 'CO_917048308752776257',
 'CO_1690862290738836150',
 'CO_874500111687326151',
 'CO_1125763852340156480',
 'CO_797754777732167492',
 'CO_1964436062852611062',
 'CO_1559941325392132777',
 'CO_1353971176978508405',
 'CO_286992457615631475',
 'CO_1552121326771475428',
 'CO_1325933560876578330',
 'CO_938770350513000754',
 'CO_387863327590048542',
 'CO_37932453843969185',
 'CO_1638546733562907466',
 'CO_1425676531260078729',
 'CO_1105782185213068538',
 'CO_326107300816987243',
 'CO_1615978422284641163',
 'CO_1047317511485860216',
 'CO_48167453662657190',
 'CO_1586766357518215377',
 'CO_856131307896983346',
 'CO_1554352833473561771',
 'CO_2035392092515548233',
 'CO_2162096324626582854',
 'CO_127707683762503658',
 'CO_617556824345540542',
 'CO_59433596177554941',
 'CO_1460354838643739968',
 'CO_136467605327415650',
 'CO_1135071293321342277',
 'CO_841787241748058532',
 'CO_605029711735679659',
 'CO_1010611758166691856',
 'CO_214185376754616867',
 'CO_317250348994718832',
 'CO_673544646621950284',
 'CO_2167099522172622221',
 'CO_1644769498282846866',
 'CO_2032497799669891891',
 'CO_1963975265037538901',
 'CO_2262213674274439455',
 'CO_2190529634182785571',
 'CO_563095847311236520',
 'CO_327247612523809682',
 'CO_239622624826151532',
 'CO_1430609521724441362',
 'CO_1552565185279142468',
 'CO_1079941838018600978',
 'CO_308595752119487748',
 'CO_1679931936552430934',
 'CO_2123706393445453640',
 'CO_634062981721297674',
 'CO_304051967086874413',
 'CO_2173104062481154715',
 'CO_1018254598129634395',
 'CO_1102304604278435316',
 'CO_1351246373951899456',
 'CO_1041039698219852306',
 'CO_2284226135634673031',
 'CO_444915867447615811',
 'CO_1187677501740202156',
 'CO_2025966802230431199',
 'CO_1815404839234771369',
 'CO_1718459276981952402',
 'CO_1174732479090147539',
 'CO_1719300653559835829',
 'CO_1684899153450531667',
 'CO_989071680899203485',
 'CO_1547613879869181226',
 'CO_2116473803830262738',
 'CO_1297119512223967748',
 'CO_1687959544212867145',
 'CO_61576716534658773',
 'CO_1406748820419026783',
 'CO_2095297599535879065',
 'CO_302678333704197145',
 'CO_1187906194275625646',
 'CO_1201309863912935325',
 'CO_1922216762739652501',
 'CO_1766495728633439201',
 'CO_2185718778256801767',
 'CO_1985622116550953234',
 'CO_1779864385013928352',
 'CO_365169254542735974',
 'CO_1722050782079661576',
 'CO_839993440316508608',
 'CO_1810589422999004360',
 'CO_1054909344078236861',
 'CO_1047171435645733050',
 'CO_2014006906189120081',
 'CO_924753926225048018',
 'CO_2017125241682724399',
 'CO_2212061042677459331',
 'CO_358460418735234895',
 'CO_910235970341668149',
 'CO_819393372733858311',
 'CO_1934402735967578873',
 'CO_318461301908713043',
 'CO_99195291748313748',
 'CO_342513275744996586',
 'CO_1574443456192458541',
 'CO_1750377268567354576',
 'CO_1235470615381239321',
 'CO_623768866906050502',
 'CO_395317077366631497',
 'CO_2001005134883292837',
 'CO_450993817091908761',
 'CO_435671140541231519',
 'CO_2188733907476285599',
 'CO_662435595682830050',
 'CO_1798876475467037465',
 'CO_1151196454506540694',
 'CO_773477126713218182',
 'CO_1760164698467056346',
 'CO_201032826204010849',
 'CO_95054913971174818',
 'CO_804762005533678933',
 'CO_2175475847735012681',
 'CO_1922906590474643424',
 'CO_104109532377306496',
 'CO_674359878401721258',
 'CO_1095474025394680735',
 'CO_707344918040941371',
 'CO_576986191851192833',
 'CO_980985502509234263',
 'CO_1275575258194123751',
 'CO_695967646206254961',
 'CO_2218528730164275833',
 'CO_2207032321128668651',
 'CO_1910726310049937830',
 'CO_2106308473511869117',
 'CO_1520968960689126169',
 'CO_1722784389607902829',
 'CO_1956058272248688737',
 'CO_1125303585412654538',
 'CO_242363702441497120',
 'CO_1759603227324911152',
 'CO_1153069182081072573',
 'CO_1544736045927770138',
 'CO_825843162496493229',
 'CO_1589678671933965305',
 'CO_7485534094663885',
 'CO_2176972901038814602',
 'CO_1105634525240684146',
 'CO_487359911927142497',
 'CO_190880188794030177',
 'CO_1314241653325849538',
 'CO_1563285587649065137',
 'CO_1240464946698617569',
 'CO_1009257703152363877',
 'CO_2145985764733355204',
 'CO_1863899344082606473',
 'CO_886041775339294029',
 'CO_45330255856949657',
 'CO_1701877546274010488',
 'CO_1376050968201193730',
 'CO_1405548672760545239',
 'CO_463831742553466364',
 'CO_138709519005289773',
 'CO_282720645951802718',
 'CO_39156011932759465',
 'CO_1265293222205251848',
 'CO_1917440862059698733',
 'CO_1023000223208719171',
 'CO_1434438991843863341',
 'CO_1315635236251998035',
 'CO_1260353353403702639',
 'CO_1300013301280701040',
 'CO_1636459347184476075',
 'CO_1849713850624984649',
 'CO_2155737312862821955',
 'CO_1517209754665966979',
 'CO_1497729172022009050',
 'CO_1833041308617257097',
 'CO_1336423654166410257',
 'CO_1890682455277121976',
 'CO_187942668009605040',
 'CO_1050806586718413277',
 'CO_1811670663957149249',
 'CO_217598719576107156',
 'CO_405498451253444659',
 'CO_1355332599440282522',
 'CO_769417750540786055',
 'CO_1791749558654517413',
 'CO_461965863310672395',
 'CO_1763865040656625610',
 'CO_387891131556208340',
 'CO_1110411853309271454',
 'CO_246572172075101213',
 'CO_2249568271056498384',
 'CO_834880961048460769',
 'CO_405921788989163310',
 'CO_384072408045332548',
 'CO_1829266069808932350',
 'CO_364800111342854724',
 'CO_819629503638337488',
 'CO_1734190172507082019',
 'CO_1541835900900356456',
 'CO_368802462223639524',
 'CO_1875680722326612358',
 'CO_880377996728092327',
 'CO_1990616418712564837',
 'CO_2283422837494116052',
 'CO_125891636222208360',
 'CO_1419792325454667766',
 'CO_1490474054122152647',
 'CO_1178243452212485837',
 'CO_755620643007099888',
 'CO_1588581643408983413',
 'CO_1444806779220022782',
 'CO_21188830399824395',
 'CO_2246146262357788739',
 'CO_664644363081460354',
 'CO_1741692841001294005',
 'CO_1111065732538864085',
 'CO_1464685165852597906',
 'CO_1607235404570519488',
 'CO_1456333929735103769',
 'CO_1312959880045772373',
 'CO_1945852040415113163',
 'CO_1953220421078704490',
 'CO_1920615363957803343',
 'CO_2284255869686594279',
 'CO_2107334660912344735',
 'CO_1887666366899187038',
 'CO_1302922985816014918',
 'CO_359275624236136241',
 'CO_657906170180803306',
 'CO_1928275223999010778',
 'CO_482142868729040634',
 'CO_2262858911454388981',
 'CO_1030328627776947473',
 'CO_571981320162587794',
 'CO_2080519252728412322',
 'CO_167302678849332877',
 'CO_2181790861244905437',
 'CO_1770754735276106187',
 'CO_1029864903755648042',
 'CO_71079618869191760',
 'CO_513675507024670610',
 'CO_564291648072106836',
 'CO_463564214892656966',
 'CO_1647925455202470012',
 'CO_465444092696711386',
 'CO_341472912532488714',
 'CO_1348188197292346480',
 'CO_641391344206407728',
 'CO_1056500982239757075',
 'CO_489748577114449454',
 'CO_471699346705682633',
 'CO_1524725725298427925',
 'CO_748118595287888900',
 'CO_1786861595521171567',
 'CO_1354619308182210684',
 'CO_1893965291564853935',
 'CO_380577776505324142',
 'CO_1474124470114450382',
 'CO_251512751200117826',
 'CO_753208455144593146',
 'CO_1162649866296573527',
 'CO_2277764678949854965',
 'CO_964217309958392317',
 'CO_2165055075030514115',
 'CO_1039106935945430254',
 'CO_2143615152687721507',
 'CO_601938759665264836',
 'CO_1839619486339985741',
 'CO_30850475183138066',
 'CO_48476290737039939',
 'CO_2029018192220525944',
 'CO_2178205343171422433',
 'CO_2250172640758938960',
 'CO_1337779370042516797',
 'CO_1637248196822946422',
 'CO_2002374547902437399',
 'CO_1310470668068455957',
 'CO_2300556525869457402',
 'CO_2206062539478963344',
 'CO_1731110607212534399',
 'CO_1760937909641611878',
 'CO_775788993866720713',
 'CO_308158454057126070',
 'CO_1375610445967070477',
 'CO_1237547909863381053',
 'CO_644395201296824972',
 'CO_1550729756819155029',
 'CO_1614665453536576538',
 'CO_653374481688828773',
 'CO_550353587516313637',
 'CO_1094997533985873625',
 'CO_1918386992407386347',
 'CO_588612742048116069',
 'CO_1577027402547048153',
 'CO_822027942456752108',
 'CO_1343930644400137519',
 'CO_1826899088479790463',
 'CO_202592630670277388',
 'CO_616256006168366717',
 'CO_956788026600912377',
 'CO_1395284368802120821',
 'CO_1203347258317748274',
 'CO_1112558695983332326',
 'CO_760814761890752260',
 'CO_289942017474395335',
 'CO_1501033733121851360',
 'CO_146410243827206174',
 'CO_494913069415583575',
 'CO_1908855835160793455',
 'CO_1771171987999953467',
 'CO_716383797673738062',
 'CO_525511845320514570',
 'CO_799339726083422032',
 'CO_940297275479621412',
 'CO_1298169223600661826',
 'CO_1477262385477701700',
 'CO_1062059890321330308',
 'CO_484886477743153500',
 'CO_1786988995391234522',
 'CO_1120964130680942925',
 'CO_1597151710441039389',
 'CO_802098574162224409',
 'CO_91246553750329928',
 'CO_1297601297130928368',
 'CO_632023927356678462',
 'CO_603588937563565111',
 'CO_1685110353135122290',
 'CO_1678499356460476692',
 'CO_366611044331915507',
 'CO_2233522058269630681',
 'CO_567807195119989839',
 'CO_408506602256557832',
 'CO_22428486719335216',
 'CO_1826126210648775417',
 'CO_1030901133292490704',
 'CO_1700516276625961931',
 'CO_65063410501865312',
 'CO_1698480237987390138',
 'CO_950718928611769177',
 'CO_1635428653220148798',
 'CO_58140051902531134',
 'CO_754279404913066007',
 'CO_415857299471400620',
 'CO_860380236877536463',
 'CO_641793371710462280',
 'CO_1603384400670748943',
 'CO_1741956772329693182',
 'CO_1963917215832180662',
 'CO_598676797206318263',
 'CO_2194113875329107092',
 'CO_2081071188057505811',
 'CO_1380631795336305900',
 'CO_1913547697838617322',
 'CO_649747213286240832',
 'CO_1675010966852816408',
 'CO_2175934361747354554',
 'CO_324415355480078174',
 'CO_1133871796579108995',
 'CO_671443790242012944',
 'CO_598560776745900827',
 'CO_72991244967899216',
 'CO_229328302166149862',
 'CO_315439919376725248',
 'CO_1609866133304370243',
 'CO_1678852348399908390',
 'CO_1407199479844815215',
 'CO_1947965866269680039',
 'CO_2166065944031553990',
 'CO_992917501545442482',
 'CO_1120857767006007147',
 'CO_1900269955448873203',
 'CO_1545007965346910105',
 'CO_1803992345574878710',
 'CO_2120602658823467154',
 'CO_1491025995192302045',
 'CO_208038739607388885',
 'CO_376734308961919227',
 'CO_709103050614210539',
 'CO_601455767083024549',
 'CO_665635548566423021',
 'CO_1764226881078535874',
 'CO_2203865840980610857',
 'CO_1815858441341830212',
 'CO_365410107320043626',
 'CO_359631187858447236',
 'CO_2040554021688440684',
 'CO_108964141742943804',
 'CO_892788963504499033',
 'CO_611301291938012052',
 'CO_1534889364399848730',
 'CO_1796798845748085046',
 'CO_1320359966944384443',
 'CO_2085762672582910931',
 'CO_1795250489160342840',
 'CO_145594415199086155',
 'CO_435569513669503710',
 'CO_1496698444081165084',
 'CO_281107334305258260',
 'CO_149011115247330588',
 'CO_1199718177037309528',
 'CO_2192434158656564353',
 'CO_1571570885918901010',
 'CO_220948665121515502',
 'CO_611068609475420575',
 'CO_2035213871956812169',
 'CO_2207967763345184603',
 'CO_967012784066559720',
 'CO_1888548440344061265',
 'CO_190199603879562716',
 'CO_434623707293585394',
 'CO_1815505708028171150',
 'CO_1765028251413076773',
 'CO_2092846824550429015',
 'CO_1814849984388718735',
 'CO_24551628886577667',
 'CO_784716113366258913',
 'CO_716804283304499991',
 'CO_1038254327539026355',
 'CO_549297401861099829',
 'CO_2151975375172284254',
 'CO_519588608968785140',
 'CO_736335935775329287',
 'CO_1934710932767726893',
 'CO_891243186512933346',
 'CO_787264008532732991',
 'CO_786500368111179656',
 'CO_1733357674782104088',
 'CO_1519477553536634613',
 'CO_1532298587548416626',
 'CO_1899635594482050278',
 'CO_2117773696099085620',
 'CO_206695127169559299',
 'CO_976508864864770330',
 'CO_814420198522712066',
 'CO_219760731703038292',
 'CO_1208620186678355709',
 'CO_1014701091051098771',
 'CO_1347429093386583579',
 'CO_339045273757621827',
 'CO_1698822609125010474',
 'CO_40646639554115665',
 'CO_1752576222162269078',
 'CO_1496862506850162717',
 'CO_2132500110753964142',
 'CO_851962220943789604',
 'CO_1991176203201227218',
 'CO_184241229901757961',
 'CO_1559482310259229966',
 'CO_24238068955771038',
 'CO_1897678638936568828',
 'CO_920026924132300302',
 'CO_911820236095015536',
 'CO_186116254317397654',
 'CO_446896713486105910',
 'CO_1221851040927803387',
 'CO_854695426178704791',
 'CO_2188573648071924375',
 'CO_728639910380933551',
 'CO_1820287387170943675',
 'CO_519728780353137321',
 'CO_1841732307762287946',
 'CO_1041123072515781063',
 'CO_2147868923793149181',
 'CO_438340450519091408',
 'CO_517615729936457803',
 'CO_285722848248578714',
 'CO_705416181738799810',
 'CO_477694363814657591',
 'CO_1678350865482337474',
 'CO_343670455949246721',
 'CO_2045278836524613621',
 'CO_1505423253344656188',
 'CO_387348833094314557',
 'CO_1304836667398011495',
 'CO_799172440891213150',
 'CO_1045684412160755397',
 'CO_1390468094840964091',
 'CO_1032606371409042301',
 'CO_1443593093098494699',
 'CO_632452089883125792',
 'CO_96623390091570438',
 'CO_999228990968161936',
 'CO_1118728269494287377',
 'CO_155342012837930040',
 'CO_1527527335709867085',
 'CO_928071594297945547',
 'CO_1326891034180506704',
 'CO_808733976517665297',
 'CO_1002140044104019634',
 'CO_2089682043016473726',
 'CO_1421604708223258253',
 'CO_2139795628311718617',
 'CO_790361341314799545',
 'CO_1692356193141040061',
 'CO_55802671663055980',
 'CO_2200794198474082566',
 'CO_1239929327320232023',
 'CO_1631369285629252395',
 'CO_1603600439341281419',
 'CO_2044543485337031386',
 'CO_2000304290862074317',
 'CO_1280859786285782862',
 'CO_1880901480082728400',
 'CO_1618060397706805060',
 'CO_1477705377100764461',
 'CO_1028616448592104613',
 'CO_229589485228204523',
 'CO_1285525196932649996',
 'CO_1134689943661546917',
 'CO_502456018775913048',
 'CO_383447040431647202',
 'CO_1967627013156426381',
 'CO_248249497482844545',
 'CO_1837387611028906681',
 'CO_575099695768619663',
 'CO_1660964823652651924',
 'CO_1096652213338673962',
 'CO_880118050538167012',
 'CO_722993557936165212',
 'CO_892075210619605974',
 'CO_409153375786030693',
 'CO_275985595513409186',
 'CO_175116265191155229',
 'CO_2147114318096699889',
 'CO_1570361599608092442',
 'CO_522867156614826501',
 'CO_987616657328072077',
 'CO_1270687758673311153',
 'CO_1316057869799273804',
 'CO_330333114230750808',
 'CO_1996099033331063961',
 'CO_369353260523946956',
 'CO_554147607752918628',
 'CO_1723859612202373965',
 'CO_1414292664841497328',
 'CO_2033311259473393740',
 'CO_788137898376444215',
 'CO_1483031248265695838',
 'CO_1059860752949014341',
 'CO_1179826510359902364',
 'CO_1764266615289587450',
 'CO_284803620613103343',
 'CO_329521925860036571',
 'CO_2145874039226150399',
 'CO_1375069382537985842',
 'CO_1336316855740236140',
 'CO_2013224103824744279',
 'CO_535903339666832403',
 'CO_846080640494047472',
 'CO_1650700512374002235',
 'CO_194235916013861653',
 'CO_1479436767483401704',
 'CO_1365348664443241838',
 'CO_1589123288994828340',
 'CO_774159765310550331',
 'CO_1367604995279869333',
 'CO_1492568524865962321',
 'CO_1343706735582262108',
 'CO_1011954133276979820',
 'CO_2185232754516467354',
 'CO_1691323459394540264',
 'CO_1135422733631732711',
 'CO_2217668352356367989',
 'CO_2138181113562925186',
 'CO_2186871170102782766',
 'CO_1598833589860181218',
 'CO_88029586906386780',
 'CO_859461411845574782',
 'CO_664988772683548492',
 'CO_1076724411131327080',
 'CO_51767955796502040',
 'CO_547054327748740537',
 'CO_2222951899302793462',
 'CO_173819367290101788',
 'CO_1186088183976837335',
 'CO_23548868886677614',
 'CO_1675782705156805995',
 'CO_935927806468239539',
 'CO_606536193855871962',
 'CO_1175213403039478204',
 'CO_951656008559893616',
 'CO_2112785590317810664',
 'CO_599019958360748911',
 'CO_635314393358687345',
 'CO_998022005415665748',
 'CO_1510281155468915365',
 'CO_127374668323543276',
 'CO_1021870001253523753',
 'CO_2030336984283533393',
 'CO_1164450285794125898',
 'CO_2038832775323606802',
 'CO_375428878224479963',
 'CO_920308378885542956',
 'CO_866805550151251606',
 'CO_1989887896351480148',
 'CO_390046730224599196',
 'CO_1877719872788990668',
 'CO_2110042267263764280',
 'CO_1804203614702453861',
 'CO_908300577751618688',
 'CO_236509892921848570',
 'CO_1010311918131661590',
 'CO_295859574627493997',
 'CO_467297520230330316',
 'CO_575260869372236797',
 'CO_1517976337117758387',
 'CO_125264192323072644',
 'CO_14756734027603424',
 'CO_226589123716559910',
 'CO_471021201390462514',
 'CO_2066530521043917221',
 'CO_516040006302063901',
 'CO_1655290298938321300',
 'CO_588906321147678243',
 'CO_1419925798834165472',
 'CO_1730192319305214741',
 'CO_1270941418601777113',
 'CO_923270362140937417',
 'CO_1393081751801131253',
 'CO_1578052988112214641',
 'CO_466742611857774892',
 'CO_307127305387999250',
 'CO_880382249446217876',
 'CO_690661744295632109',
 'CO_1678906991917188009',
 'CO_2197425231666374227',
 'CO_2241309753147127655',
 'CO_1850380915993293510',
 'CO_1422016241874707003',
 'CO_2151143989026552876',
 'CO_865892808130057642',
 'CO_1079237946087930142',
 'CO_731225438778818254',
 'CO_1219615612025369794',
 'CO_172228864789490345',
 'CO_582202275029781193',
 'CO_302830312510320085',
 'CO_1358729279302135030',
 'CO_1942219073131186136',
 'CO_912285420515115328',
 'CO_1445353663713625002',
 'CO_2096704383429724708',
 'CO_792633056167511873',
 'CO_1024014875982816108',
 'CO_221987841775696869',
 'CO_691080275248857807',
 'CO_1815380571110354301',
 'CO_1521778880017741659',
 'CO_2108719122015635152',
 'CO_1792328026701218255',
 'CO_1039899335232716192',
 'CO_1980341562247151847',
 'CO_1722306925140546535',
 'CO_1913702412210215212',
 'CO_1279152012597823286',
 'CO_2054025936386567153',
 'CO_1218217150625742347',
 'CO_812231004166988119',
 'CO_1829378085026436082',
 'CO_1625414854932219535',
 'CO_2264873568367839011',
 'CO_982978938706037531',
 'CO_738740354676074597',
 'CO_1027946366787174134',
 'CO_1813227663784099924',
 'CO_921959668715580297',
 'CO_1766223186788620248',
 'CO_1303132829318600662',
 'CO_1609484363511306970',
 'CO_788653975078236366',
 'CO_1259578937547904877',
 'CO_99813389667335764',
 'CO_215233715438100249',
 'CO_961214996230105126',
 'CO_506243460920828913',
 'CO_1004297025183300977',
 'CO_1093709447861566550',
 'CO_1499380012486322230',
 'CO_1775144452820278875',
 'CO_1442568455343715112',
 'CO_778309729324506763',
 'CO_238080727131842008',
 'CO_2067850649702145702',
 'CO_1138085220634677629',
 'CO_1929408762462570640',
 'CO_729423864168049953',
 'CO_1636314127586790802',
 'CO_1488937488834415239',
 'CO_1743773556146395677',
 'CO_1890087145988015445',
 'CO_1974433301129134904',
 'CO_1832378281523382477',
 'CO_1213615900533132762',
 'CO_1396620620701348812',
 'CO_1714403349073760549',
 'CO_831832300818732597',
 'CO_35948951992190548',
 'CO_1645461083914883445',
 'CO_2145139788063371758',
 'CO_778629505810916243',
 'CO_1237117784445219970',
 'CO_1468472854203672825',
 'CO_1124320808212685002',
 'CO_1821925493611813331',
 'CO_601509636474949497',
 'CO_912009420124007261',
 'CO_1494780808415931392',
 'CO_1403158312970507576',
 'CO_20849942039424142',
 'CO_1104833403634277976',
 'CO_951815840370588926',
 'CO_1917839230195585289',
 'CO_971692101039880917',
 'CO_1061491240403909913',
 'CO_763270811126569362',
 'CO_50427677475165609',
 'CO_1600796444846193332',
 'CO_906187616971780319',
 'CO_365429718281347454',
 'CO_516380871341206916',
 'CO_1895958545411444310',
 'CO_1080520866354403001',
 'CO_381203781975058546',
 'CO_153252925514316201',
 'CO_1077612087363386138',
 'CO_2171275415592713213',
 'CO_982768393366126034',
 'CO_1206810844080883447',
 'CO_2034571551147300441',
 'CO_2240664794038762666',
 'CO_1137227685877716352',
 'CO_918591165610805644',
 'CO_1624208251506468746',
 'CO_920478338197525487',
 'CO_1799576886260024079',
 'CO_1168506740114140977',
 'CO_750472254644610956',
 'CO_2113556516588740754',
 'CO_779576839666913223',
 'CO_2273533802794700678',
 'CO_2264583373716417857',
 'CO_842737115311798632',
 'CO_1564968955911122276',
 'CO_1839931676097361543',

In [22]:
CS = ConfigurationSet(
    name="test", config_df=config_set_query, description="test description"
)

<class 'list'>
[Row(element='Ga', ratio=0.012887595268940222), Row(element='I', ratio=0.016706765146289347), Row(element='Pt', ratio=0.012332385551087706), Row(element='Se', ratio=0.016555344314147753), Row(element='Tl', ratio=0.006023184211854569), Row(element='Ni', ratio=0.017144203105809514), Row(element='Os', ratio=0.011339737873715026), Row(element='Co', ratio=0.014014839241549877), Row(element='Fe', ratio=0.016269327186769184), Row(element='Ru', ratio=0.012214613792755354), Row(element='Mg', ratio=0.010919124451099483), Row(element='Ti', ratio=0.02444605212241533), Row(element='Ag', ratio=0.008883355485640258), Row(element='H', ratio=0.07577771421841614), Row(element='Te', ratio=0.012988542490367953), Row(element='Al', ratio=0.018389218836751518), Row(element='C', ratio=0.01552904756296583), Row(element='S', ratio=0.027171627100964046), Row(element='Li', ratio=0.021552231774820397), Row(element='Ca', ratio=0.007991655029695307), Row(element='Zr', ratio=0.010077897605868398), Row(element='Cd', ratio=0.011104194357050323), Row(element='B', ratio=0.01663946699867086), Row(element='K', ratio=0.012231438329659975), Row(element='Nb', ratio=0.018456516984370005), Row(element='Tc', ratio=0.014418628127260797), Row(element='P', ratio=0.018254622541514543), Row(element='Rb', ratio=0.006309201339233138), Row(element='F', ratio=0.029426115046183355), Row(element='Cl', ratio=0.02343657990813803), Row(element='Hf', ratio=0.009775055941585209), Row(element='Br', ratio=0.024496525733129194), Row(element='Be', ratio=0.02158588084862964), Row(element='Cs', ratio=0.005013711997577267), Row(element='O', ratio=0.024412403048606087), Row(element='V', ratio=0.02474889378669852), Row(element='Y', ratio=0.008008479566599929), Row(element='In', ratio=0.009724582330871343), Row(element='N', ratio=0.0200043743795952), Row(element='Sb', ratio=0.013425980449888117), Row(element='Ir', ratio=0.01228191194037384), Row(element='Sn', ratio=0.011541632316570486), Row(element='Rh', ratio=0.01810320170937295), Row(element='Pb', ratio=0.006410148560660868), Row(element='Hg', ratio=0.009724582330871343), Row(element='Ta', ratio=0.009522687888015883), Row(element='Mn', ratio=0.014805592476067097), Row(element='Cr', ratio=0.015512223026061207), Row(element='Cu', ratio=0.011205141578478052), Row(element='Sc', ratio=0.010902299914194861), Row(element='Ge', ratio=0.014216733684405337), Row(element='Re', ratio=0.013762471187980551), Row(element='Ba', ratio=0.004929589313054158), Row(element='Na', ratio=0.029762605784275788), Row(element='As', ratio=0.02067735585578007), Row(element='Bi', ratio=0.008630987432070933), Row(element='Si', ratio=0.041876272355603414), Row(element='Mo', ratio=0.01157528139037973), Row(element='Au', ratio=0.011794000370139812), Row(element='Zn', ratio=0.012618402678466275), Row(element='Pd', ratio=0.011861298517758299), Row(element='W', ratio=0.01366152396655282), Row(element='Sr', ratio=0.003936941635681478)]
[0.008883355485640258, 0.018389218836751518, 0.02067735585578007, 0.011794000370139812, 0.01663946699867086, 0.004929589313054158, 0.02158588084862964, 0.008630987432070933, 0.024496525733129194, 0.01552904756296583, 0.007991655029695307, 0.011104194357050323, 0.02343657990813803, 0.014014839241549877, 0.015512223026061207, 0.005013711997577267, 0.011205141578478052, 0.029426115046183355, 0.016269327186769184, 0.012887595268940222, 0.014216733684405337, 0.07577771421841614, 0.009775055941585209, 0.009724582330871343, 0.016706765146289347, 0.009724582330871343, 0.01228191194037384, 0.012231438329659975, 0.021552231774820397, 0.010919124451099483, 0.014805592476067097, 0.01157528139037973, 0.0200043743795952, 0.029762605784275788, 0.018456516984370005, 0.017144203105809514, 0.024412403048606087, 0.011339737873715026, 0.018254622541514543, 0.006410148560660868, 0.011861298517758299, 0.012332385551087706, 0.006309201339233138, 0.013762471187980551, 0.01810320170937295, 0.012214613792755354, 0.027171627100964046, 0.013425980449888117, 0.010902299914194861, 0.016555344314147753, 0.041876272355603414, 0.011541632316570486, 0.003936941635681478, 0.009522687888015883, 0.014418628127260797, 0.012988542490367953, 0.02444605212241533, 0.006023184211854569, 0.02474889378669852, 0.01366152396655282, 0.008008479566599929, 0.012618402678466275, 0.010077897605868398]
[0.008883355485640258, 0.018389218836751518, 0.02067735585578007, 0.011794000370139812, 0.01663946699867086, 0.004929589313054158, 0.02158588084862964, 0.008630987432070933, 0.024496525733129194, 0.01552904756296583, 0.007991655029695307, 0.011104194357050323, 0.02343657990813803, 0.014014839241549877, 0.015512223026061207, 0.005013711997577267, 0.011205141578478052, 0.029426115046183355, 0.016269327186769184, 0.012887595268940222, 0.014216733684405337, 0.07577771421841614, 0.009775055941585209, 0.009724582330871343, 0.016706765146289347, 0.009724582330871343, 0.01228191194037384, 0.012231438329659975, 0.021552231774820397, 0.010919124451099483, 0.014805592476067097, 0.01157528139037973, 0.0200043743795952, 0.029762605784275788, 0.018456516984370005, 0.017144203105809514, 0.024412403048606087, 0.011339737873715026, 0.018254622541514543, 0.006410148560660868, 0.011861298517758299, 0.012332385551087706, 0.006309201339233138, 0.013762471187980551, 0.01810320170937295, 0.012214613792755354, 0.027171627100964046, 0.013425980449888117, 0.010902299914194861, 0.016555344314147753, 0.041876272355603414, 0.011541632316570486, 0.003936941635681478, 0.009522687888015883, 0.014418628127260797, 0.012988542490367953, 0.02444605212241533, 0.006023184211854569, 0.02474889378669852, 0.01366152396655282, 0.008008479566599929, 0.012618402678466275, 0.010077897605868398]

In [29]:
def update_co_rows_cs_id(self, co_ids: list[str], cs_id: str):
    with psycopg.connect(
        """dbname=colabfit user=%s password=%s host=localhost port=5432"""
        % (
            user,
            password,
        )
    ) as conn:
        # dbname=self.database_name,
        # user=self.properties["user"],
        # password=self.properties["password"],
        # host="localhost",
        # port="5432",
        cur = conn.execute(
            """UPDATE configurations
                SET configuration_set_ids = 
            """
        )
        cur = conn.execute(
            """UPDATE configurations
                SET configuration_set_ids = concat(%s::text, 
                rtrim(ltrim(replace(configuration_set_ids,%s,''), 
                
                '['),']') || ', ', %s::text)
            WHERE id = ANY(%s)""",
            ("[", f"{cs_id}", f"{cs_id}]", co_ids),
            # ("[", f", {cs_id}", f", {cs_id}]"),
        )
        # cur.fetchall()
        conn.commit()

In [ ]:
# You were trying to get  postgresql to recognize the WHERE id = ANY() array syntax

In [28]:
update_co_rows_cs_id(loader, co_ids, CS.spark_row["id"])

In [67]:
CS.spark_row

{'id': 'CS_258512216210800474',
 'hash': 258512216210800474,
 'last_modified': None,
 'nconfigurations': 110,
 'nsites': 1594,
 'nelements': 62,
 'elements': ['Ag',
  'Al',
  'As',
  'Au',
  'B',
  'Ba',
  'Be',
  'Bi',
  'Br',
  'C',
  'Ca',
  'Cd',
  'Cl',
  'Co',
  'Cr',
  'Cs',
  'Cu',
  'F',
  'Fe',
  'Ga',
  'Ge',
  'H',
  'Hf',
  'Hg',
  'I',
  'In',
  'Ir',
  'K',
  'Li',
  'Mg',
  'Mn',
  'Mo',
  'N',
  'Na',
  'Nb',
  'Ni',
  'O',
  'Os',
  'P',
  'Pb',
  'Pd',
  'Pt',
  'Rb',
  'Re',
  'Rh',
  'Ru',
  'S',
  'Sb',
  'Sc',
  'Se',
  'Si',
  'Sn',
  'Ta',
  'Tc',
  'Te',
  'Ti',
  'Tl',
  'V',
  'W',
  'Y',
  'Zn',
  'Zr'],
 'dataset_id': None,
 'name': 'test',
 'description': 'test description',
 'total_elements_ratios': [0.013801756587202008,
  0.006273525721455458,
  0.009410288582183186,
  0.010037641154328732,
  0.016938519447929738,
  0.006273525721455458,
  0.014429109159347553,
  0.01819322459222083,
  0.027603513174404015,
  0.012547051442910916,
  0.003136762860727729,
  0.03450439146800502,
  0.02132998745294856,
  0.014429109159347553,
  0.028858218318695106,
  0.0075282308657465494,
  0.0056461731493099125,
  0.037641154328732745,
  0.006273525721455458,
  0.009410288582183186,
  0.020075282308657464,
  0.05144291091593475,
  0.00878293601003764,
  0.0056461731493099125,
  0.03889585947302384,
  0.0056461731493099125,
  0.009410288582183186,
  0.01819322459222083,
  0.006273525721455458,
  0.00878293601003764,
  0.02132998745294856,
  0.011292346298619825,
  0.03450439146800502,
  0.05144291091593475,
  0.021957340025094103,
  0.01944792973651192,
  0.012547051442910916,
  0.01819322459222083,
  0.01819322459222083,
  0.0056461731493099125,
  0.01066499372647428,
  0.006900878293601004,
  0.01819322459222083,
  0.010037641154328732,
  0.03136762860727729,
  0.0037641154328732747,
  0.029485570890840654,
  0.005018820577164366,
  0.0075282308657465494,
  0.02070263488080301,
  0.01756587202007528,
  0.006273525721455458,
  0.003136762860727729,
  0.01944792973651192,
  0.00439146800501882,
  0.0370138017565872,
  0.006900878293601004,
  0.021957340025094103,
  0.01756587202007528,
  0.0018820577164366374,
  0.018820577164366373,
  0.009410288582183186]}

In [78]:
from colabfit.tools.utilities import _empty_dict_from_schema
from colabfit.tools.schema import configuration_set_schema
import dateutil.parser

cs = _empty_dict_from_schema(configuration_set_schema)
cs["nconfigurations"] = 200
cs["dataset_id"] = carmat_ds_id
cs["name"] = "test"
cs["description"] = "test description for test"
cs["nelements"] = 25
cs["last_modified"] = dateutil.parser.parse(
    datetime.datetime.now(tz=datetime.timezone.utc).strftime("%Y-%m-%dT%H:%M:%SZ")
)
cs["id"] = "CS_y7nrdsjtuw0g_0"
cs["hash"] = hash(cs["name"])

In [79]:
loader.write_table([cs], "configuration_sets", configuration_set_schema)

In [111]:
co_ids = [x[0] for x in config_set_query.select("id").distinct().collect()]

In [9]:
dm.load_data_to_pg_in_batches(loader)

Loading data to PostgreSQL: : 0batch [00:00, ?batch/s]24/05/14 18:12:58 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
24/05/14 18:13:01 ERROR Executor: Exception in task 13.0 in stage 0.0 (TID 13)2]
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_425343146072841686'),('425343146072841686'),('2024-05-14 18:12:56-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('Ge2LiRh6Zr'),('Ge2LiRh6Zr'),('A6B2CD'),('[''Ge'', ''Li'', ''Rh'', ''Zr'']'),('[0.2, 0.1, 0.6, 0.1]'),('[32, 32, 3, 45, 45, 45, 45, 45, 45, 40]'),('10'::int4),('4'::int4),('0'::int4),('[[6.32863268, 0.0, 0.0], [3.164316340000001, 5.4807566721003935, 0.0], [3.164316340000001, 1.8269188907001317, 5.167306945167471]]'),('[0, 0, 0]'),('[False, False, False]'),('[[9.492949020000003, 5.4807566721003935, 3.8754802088756035], [3.1643163400000005, 1.8269188907001312, 1.2918267362918678], [6.328632680000001, 3.6538377814002625, 2.5836534725837357], [6.328632680000001, 5.345107286775108, 3.779561608648307], [6.328632680000001, 1.9625682760254166, 1.387745336519164], [7.79331503630056, 4.499472534087685, 1.387745336519164], [4.863950323699442, 2.80820302871284, 3.779561608648307], [7.79331503630056, 2.80820302871284, 3.779561608648307], [4.863950323699442, 4.499472534087685, 1.387745336519164], [0.0, 0.0, 0.0]]'),('[''carolina_materials_1625'']'),('[5, ''fcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_425343146072841686) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_425343146072841686) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more
24/05/14 18:13:01 ERROR Executor: Exception in task 1.0 in stage 0.0 (TID 1)
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_1111065732538864085'),('1111065732538864085'),('2024-05-14 18:12:55-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('Ir6NaSi2Tl'),('Ir6NaSi2Tl'),('A6B2CD'),('[''Ir'', ''Na'', ''Si'', ''Tl'']'),('[0.6, 0.1, 0.2, 0.1]'),('[77, 77, 77, 77, 77, 77, 11, 14, 14, 81]'),('10'::int4),('4'::int4),('0'::int4),('[[6.34298013, 0.0, 0.0], [3.171490065000001, 5.49318192827992, 0.0], [3.171490065000001, 1.831060642759974, 5.179021589037503]]'),('[0, 0, 0]'),('[False, False, False]'),('[[1.5857450325000004, 0.915530321379987, 2.5895107945187514], [4.757235097500001, 0.915530321379987, 2.5895107945187514], [4.757235097500001, 2.74659096413996, 0.0], [1.5857450325000004, 2.74659096413996, 0.0], [3.171490065000001, 3.662121285519947, 2.5895107945187514], [3.171490065, 0.0, 0.0], [0.0, 0.0, 0.0], [9.514470195000001, 5.49318192827992, 3.884266191778127], [3.1714900650000004, 1.8310606427599736, 1.2947553972593757], [6.342980130000001, 3.662121285519947, 2.5895107945187514]]'),('[''carolina_materials_125'']'),('[5, ''fcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_1111065732538864085) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_1111065732538864085) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more
24/05/14 18:13:01 ERROR Executor: Exception in task 12.0 in stage 0.0 (TID 12)
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_1244094913989693186'),('1244094913989693186'),('2024-05-14 18:12:56-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('Au2InSb6Ti'),('Au2InSb6Ti'),('A6B2CD'),('[''Au'', ''In'', ''Sb'', ''Ti'']'),('[0.2, 0.1, 0.6, 0.1]'),('[79, 79, 49, 51, 51, 51, 51, 51, 51, 22]'),('10'::int4),('4'::int4),('0'::int4),('[[7.62370169, 0.0, 0.0], [3.811850845000001, 6.602319334414357, 0.0], [3.811850845000001, 2.200773111471453, 6.2247263638979256]]'),('[0, 0, 0]'),('[False, False, False]'),('[[11.435552535, 6.602319334414357, 4.668544772923444], [3.8118508450000004, 2.2007731114714524, 1.5561815909744814], [0.0, 0.0, 0.0], [1.9059254225000004, 1.1003865557357264, 3.1123631819489628], [5.717776267500001, 1.1003865557357264, 3.1123631819489628], [5.717776267500001, 3.3011596672071786, 0.0], [1.9059254225000004, 3.3011596672071786, 0.0], [3.811850845000001, 4.401546222942905, 3.1123631819489628], [3.811850845, 0.0, 0.0], [7.623701690000001, 4.401546222942905, 3.1123631819489628]]'),('[''carolina_materials_1500'']'),('[0, ''bcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_1244094913989693186) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_1244094913989693186) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more
24/05/14 18:13:01 ERROR Executor: Exception in task 3.0 in stage 0.0 (TID 3)
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_477694363814657591'),('477694363814657591'),('2024-05-14 18:12:55-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('H24Pt4Rh4Te4'),('H6PtRhTe'),('A6BCD'),('[''H'', ''Pt'', ''Rh'', ''Te'']'),('[0.6666666666666666, 0.1111111111111111, 0.1111111111111111, 0.1111111111111111]'),('[52, 52, 52, 52, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 78, 78, 78, 78, 45, 45, 45, 45]'),('36'::int4),('4'::int4),('0'::int4),('[[6.98051536, 0.0, 0.0], [0.0, 6.98051536, 0.0], [0.0, 0.0, 6.98051536]]'),('[0, 0, 0]'),('[False, False, False]'),('[[1.74512884, 1.74512884, 5.2353865200000005], [1.74512884, 5.2353865200000005, 1.74512884], [5.2353865200000005, 1.74512884, 1.74512884], [5.2353865200000005, 5.2353865200000005, 5.2353865200000005], [3.49025768, 1.7238541837270207, 0.0], [0.0, 1.766403496272979, 0.0], [1.766403496272979, 0.0, 0.0], [5.214111863727021, 0.0, 0.0], [3.49025768, 0.0, 5.256661176272979], [3.49025768, 0.0, 1.7238541837270207], [3.49025768, 5.214111863727021, 3.49025768], [0.0, 5.256661176272979, 3.49025768], [1.766403496272979, 3.49025768, 3.49025768], [5.214111863727021, 3.49025768, 3.49025768], [3.49025768, 3.49025768, 1.766403496272979], [3.49025768, 3.49025768, 5.214111863727021], [0.0, 1.7238541837270207, 3.49025768], [3.49025768, 1.766403496272979, 3.49025768], [5.256661176272979, 0.0, 3.49025768], [1.7238541837270207, 0.0, 3.49025768], [0.0, 0.0, 1.766403496272979], [0.0, 0.0, 5.214111863727021], [0.0, 5.214111863727021, 0.0], [3.49025768, 5.256661176272979, 0.0], [5.256661176272979, 3.49025768, 0.0], [1.7238541837270207, 3.49025768, 0.0], [0.0, 3.49025768, 5.256661176272979], [0.0, 3.49025768, 1.7238541837270207], [3.49025768, 0.0, 0.0], [3.49025768, 3.49025768, 3.49025768], [0.0, 0.0, 3.49025768], [0.0, 3.49025768, 0.0], [1.74512884, 1.74512884, 1.74512884], [1.74512884, 5.2353865200000005, 5.2353865200000005], [5.2353865200000005, 1.74512884, 5.2353865200000005], [5.2353865200000005, 5.2353865200000005, 1.74512884]]'),('[''carolina_materials_375'']'),('[5, ''fcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_477694363814657591) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_477694363814657591) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more
24/05/14 18:13:01 ERROR Executor: Exception in task 24.0 in stage 0.0 (TID 24)
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_1924170301885722002'),('1924170301885722002'),('2024-05-14 18:12:56-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('CaIPt6Sc2'),('CaIPt6Sc2'),('A6B2CD'),('[''Ca'', ''I'', ''Pt'', ''Sc'']'),('[0.1, 0.1, 0.6, 0.2]'),('[20, 53, 78, 78, 78, 78, 78, 78, 21, 21]'),('10'::int4),('4'::int4),('0'::int4),('[[6.95281606, 0.0, 0.0], [3.476408030000001, 6.02131533580043, 0.0], [3.476408030000001, 2.007105111933477, 5.676950540809383]]'),('[0, 0, 0]'),('[False, False, False]'),('[[6.952816060000002, 4.014210223866954, 2.8384752704046914], [0.0, 0.0, 0.0], [1.7382040150000004, 1.0035525559667384, 2.8384752704046914], [5.214612045000001, 1.0035525559667384, 2.8384752704046914], [5.214612045000001, 3.010657667900215, 0.0], [1.7382040150000004, 3.010657667900215, 0.0], [3.476408030000001, 4.014210223866954, 2.8384752704046914], [3.47640803, 0.0, 0.0], [10.429224090000002, 6.02131533580043, 4.257712905607037], [3.476408030000001, 2.007105111933477, 1.4192376352023457]]'),('[''carolina_materials_3000'']'),('[0, ''bcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_1924170301885722002) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)

Py4JJavaError: An error occurred while calling o46.jdbc.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (mart4.physics.nyu.edu executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_2035392092515548233'),('2035392092515548233'),('2024-05-14 18:12:55-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('H6BrCaRh2'),('BrCaH6Rh2'),('A6B2CD'),('[''Br'', ''Ca'', ''H'', ''Rh'']'),('[0.1, 0.1, 0.6, 0.2]'),('[35, 20, 1, 1, 1, 1, 1, 1, 45, 45]'),('10'::int4),('4'::int4),('0'::int4),('[[5.39874426, 0.0, 0.0], [2.6993721300000004, 4.67544967769542, 0.0], [2.6993721300000004, 1.5584832258984738, 4.4080562295931855]]'),('[0, 0, 0]'),('[False, False, False]'),('[[0.0, 0.0, 0.0], [5.398744260000001, 3.116966451796947, 2.2040281147965928], [5.398744260000001, 4.84493341938597, 3.4258852752451454], [5.39874426, 1.3889994842079243, 0.9821709543480398], [6.895207550832455, 3.980949935591458, 0.9821709543480398], [3.902280969167545, 2.252982968002436, 3.4258852752451454], [6.895207550832455, 2.252982968002436, 3.4258852752451454], [3.902280969167545, 3.980949935591458, 0.9821709543480398], [8.098116390000001, 4.67544967769542, 3.306042172194889], [2.6993721300000004, 1.5584832258984735, 1.1020140573982964]]'),('[''carolina_materials_0'']'),('[0, ''bcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_2035392092515548233) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_2035392092515548233) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1039)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1037)
	at org.apache.spark.sql.Dataset.$anonfun$foreachPartition$1(Dataset.scala:3514)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.Dataset.$anonfun$withNewRDDExecutionId$1(Dataset.scala:4309)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withNewRDDExecutionId(Dataset.scala:4307)
	at org.apache.spark.sql.Dataset.foreachPartition(Dataset.scala:3514)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:901)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:70)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:248)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:756)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.BatchUpdateException: Batch entry 0 INSERT INTO configurations ("id","hash","last_modified","dataset_ids","metadata","chemical_formula_hill","chemical_formula_reduced","chemical_formula_anonymous","elements","elements_ratios","atomic_numbers","nsites","nelements","nperiodic_dimensions","cell","dimension_types","pbc","positions","names","labels","configuration_set_ids") VALUES (('CO_2035392092515548233'),('2035392092515548233'),('2024-05-14 18:12:55-04'::timestamp),('[''DS_y7nrdsjtuw0g_0'']'),(NULL),('H6BrCaRh2'),('BrCaH6Rh2'),('A6B2CD'),('[''Br'', ''Ca'', ''H'', ''Rh'']'),('[0.1, 0.1, 0.6, 0.2]'),('[35, 20, 1, 1, 1, 1, 1, 1, 45, 45]'),('10'::int4),('4'::int4),('0'::int4),('[[5.39874426, 0.0, 0.0], [2.6993721300000004, 4.67544967769542, 0.0], [2.6993721300000004, 1.5584832258984738, 4.4080562295931855]]'),('[0, 0, 0]'),('[False, False, False]'),('[[0.0, 0.0, 0.0], [5.398744260000001, 3.116966451796947, 2.2040281147965928], [5.398744260000001, 4.84493341938597, 3.4258852752451454], [5.39874426, 1.3889994842079243, 0.9821709543480398], [6.895207550832455, 3.980949935591458, 0.9821709543480398], [3.902280969167545, 2.252982968002436, 3.4258852752451454], [6.895207550832455, 2.252982968002436, 3.4258852752451454], [3.902280969167545, 3.980949935591458, 0.9821709543480398], [8.098116390000001, 4.67544967769542, 3.306042172194889], [2.6993721300000004, 1.5584832258984735, 1.1020140573982964]]'),('[''carolina_materials_0'']'),('[0, ''bcc'']'),(NULL)) was aborted: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_2035392092515548233) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2413)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:579)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:936)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1039)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1039)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "idkey"
  Detail: Key (id)=(CO_2035392092515548233) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2725)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2412)
	... 21 more

In [112]:
with psycopg.connect(
    dbname="colabfit",
    user=os.environ.get("PGS_USER"),
    password=os.environ.get("PGS_PASS"),
    host="localhost",
) as conn:
    with conn.cursor() as cur:

        # cur.execute(
        #     "UPDATE configurations SET configuration_set_ids = configuration_set_ids || %(cs_id)s WHERE id = ANY(%(co_ids)s)",
        #     {"cs_id": cs["id"], "co_ids": co_ids},
        # )
        # data = cur.fetchall()
        cur.execute(
            "SELECT * FROM public.configurations WHERE id = ANY(%s)",
            [co_ids],
        )
        data2 = cur.fetchall()
    conn.commit()

In [109]:
co_ids.append("CO_215290934057753943")

In [113]:
data2

[]

In [ ]:
dm2.load_data_to_pg_in_batches(loader)

# In progress

Upsert appears to be this for postgres:
```
update the_table
    set id = id || array[5,6]
where id = 4;
```
* ~~Check for upsert function from pyspark to concatenate lists of relationships instead of primary key id collision~~
* There is no pyspark-upsert function. Will have to manage this possibly through a different sql-based library
* Written: find duplicates, but convert to access database, not download full dataframe
* I see this being used with batches of hashes during upload: something like
    ``` for batch in batches:
            hash_duplicates = find_duplicates(batch, loader/database)
            hash_duplicates.make_change_to_append_dataset-ids
            hash_duplicates.write-to-database
* Where would be the best place to catch duplicates? Keeping in mind that this might be a bulk operation (i.e. on the order of millions, like with ANI1/ANI2x variations)

In [ ]:
JARFILE = os.environ.get("CLASSPATH")
spark = (
    SparkSession.builder.appName("PostgreSQL Connection with PySpark")
    .config("spark.jars", JARFILE)
    .getOrCreate()
)
url = "jdbc:postgresql://localhost:5432/colabfit"
user = os.environ.get("PGS_USER")
password = os.environ.get("PGS_PASS")
properties = {
    "user": user,
    "password": password,
    "driver": "org.postgresql.Driver",
}
loader = PGDataLoader(appname="colabfit", env="./.env")

In [ ]:
carmat_ds_id = "DS_y7nrdsjtuw0g_0"

In [ ]:
from importlib import reload

import colabfit.tools.dataset
import colabfit.tools.database

reload(colabfit.tools.dataset)
reload(colabfit.tools.database)
DataManager = colabfit.tools.database.DataManager

Dataset = colabfit.tools.dataset.Dataset

In [ ]:
def find_duplicate_hash(spark_rows: dict, loader):
    # hashes = loader.spark.createDataFrame([x["hash"] for x in spark_rows])
    hashes = [x["hash"] for x in spark_rows]
    duplicates = loader.spark.read.jdbc(
        url=url,
        table="configurations",
        properties=properties,
    ).filter(sf.col("hash").isin(hashes))
    # dupl_hashes = df.filter(df.hash.isin(hashes)).select("hash").collect()
    return duplicates

In [ ]:
dupl_rows = [x.spark_row for x in dm_dup.configs]

In [ ]:
config_df = (
    loader.spark.read.jdbc(
        url=loader.url, table=loader.config_table, properties=loader.properties
    )
    .withColumn(
        "ds_ids_unstrung",
        sf.from_json(sf.col("dataset_ids"), sf.ArrayType(sf.StringType())),
    )
    .filter(sf.array_contains("ds_ids_unstrung", dm.dataset_id))
    .drop("ds_ids_unstrung")
)

In [ ]:
dup_hashes = find_duplicate_hash(dupl_rows, loader)

In [ ]:
dup_hashes.show(10, False)

In [ ]:
[x["hash"] for x in dup_hashes]

# outer

In [ ]:
"""
Can we make the configuration and the property instance/data object at the same time?
In this way, we would only have to pass through the data one time.

Workflow:
create database access object
create data reader as function? of the database access object
reader returns ase.Atoms-style objects (AtomicConfiguration)
DOs and PIs are now one object
These DOs point to a configuration
The configuration may already exist in the database, so we keep track of the hash added to the DO


"""

In [ ]:
cos = json.load(Path("sample_db/co_ds1.json").open("r"))

In [ ]:
with open(Path("sample_db/co_ds1.json"), "r") as f:
    co_json = spark.sparkContext.parallelize(json.load(f))

In [ ]:
co = co_json.map(_parse_config).map(stringify_lists)
co_df = spark.createDataFrame(co, config_schema)

In [ ]:
def parse_configs(co_path, spark):
    with open(co_path, "r") as f:
        co_json = spark.sparkContext.parallelize(json.load(f))
    co = co_json.map(_parse_config).map(stringify_lists)
    co_df = spark.createDataFrame(co, config_schema)
    return co_df

In [ ]:
parse_configs("sample_db/co_ds1.json", spark).show()